/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2014, 6:49:38 AM
    Author     : Choppy
*/
@import url("http://fonts.googleapis.com/css?family=Titillium+Web");
@font-face {
    font-family: 'Lato-black';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-bold';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-light';
    src: url('fonts/Lato-Light.ttf') format('truetype');
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
html,body{

}
.lato-regular{
    font-family: "Lato-black";
}
.lato-bold{
    font-family: "Lato-bold";
}
.lato-light{
    font-family: "Lato-light";
}


.titillium{
    font-family: 'Titillium Web', sans-serif;
}
a{
    color: #757575;
}

a,a:hover,a:active,a:focus{
    text-decoration: none;    
}
ul{
    margin:0;
    padding: 0;
}
.main-page,.main{
    background-color: #ededed;
    overflow: auto;
}
body *{
    font-family: "Lato-black";
}

.wrap{
    min-width: 970px;
}
/*  HEADER  */
.header{
    padding: 5px 0;
}
.header .logo{
    padding: 8px;
}
.header-seach-form{
    padding:4px 0;
}
.floating-input .hidden-input{
    width: 0;
    padding:0;
    border:none;
    height: 30px;
    padding-left: 7px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    border-bottom-left-radius: 5px;
    transition:border 1s ease-in-out,width 1s ease-in;
}
.floating-input button{
    background: none;
    border: none;
    padding: 0;
    width:30px;
    height:30px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition:border 1s ease-in-out,background-color 1s ease-in; 
}
.floating-input:hover .hidden-input{
    width:230px;
    border:1px solid #b2b2b2;
}
.floating-input:hover button{
    border:1px solid #b2b2b2;
    border-left: none;
    background-color: #d8d8d8;
    box-shadow: 0 0 2px #b2b2b2;
}
.top-nav{
    padding: 0;
    margin-top:40px;
}
.top-nav ul>li{
    position: relative;
    display: block;
    margin-left: 35px;

}
.top-nav a{
    display: block;

    font-size: 14px;
    color:#707070;
}
.top-nav a span{
    position: absolute;
    right:20px;
    top:12px;
    font-size:12px;
}
/*  HEADER END  */
/* FOOTER */
.footer-links{
    background-color:#04469f;
}
.top-footer{
    padding-left: 136px;
}
.footer-links .top-footer .footer-nav-block{
    float: left;
    border-right:1px solid #195BB2;
    margin: 15px 15px 15px 0;
    width: 23%;
    min-height:150px;
}
.footer-links .top-footer .footer-nav-block:last-child{
    border-right:none;
}
.footer-links .top-footer li{
    display: block;
    margin-right:20px;
}
.footer-links .top-footer a{
    color:#fff;
    font-size: 14px;
    display: block;
    padding: 3px 0;
}
.footer-bottom{
    background:#cecece;
}
.bottom-footer li{
    display:block;
    color:#6a6a6a;
    padding:10px 0;
}
.footer-bottom li{
    display:block;
    color:#6a6a6a;
    padding: 10px 3px 15px 0;
}
.bottom-footer li span{
    color:#fff;
}
.footer-bottom a{
    color:#6a6a6a;
    padding-right: 20px;
    display: block;
}

.footer-links .socia-links a{
    padding-top: 6px;
}
.footer-links .bottom-footer .col-sm-12{
    border-top:1px solid #195BB2;
}

/* FOOTER END*/
/* PAGE BANNER */
#top-bar-slider{
    max-height: 123px;
    overflow:hidden;
}
.banner .item{
    background-color: #a7e41e;
    padding-bottom: 20px;
}
.banner h2{

    color:#EEE;
}
.banner p{
    color:#57701D;
    /*    -webkit-text-shadow: 1px 1px 1px #EEE;
        -moz-text-shadow: 1px 1px 1px #EEE;
        text-shadow: 1px 1px 1px #EEE;*/
}
.banner .carousel-indicators{ 
    background: none repeat scroll 0 0 rgba(45, 45, 45, 0.6);
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto 10px auto;
    padding: 3px 8px;
    position: static;
    width: auto;
}
/* BANNER END */
/*Slider Buttons */
.slick-prev{
    background: url('../images/slick-prev.png') no-repeat;
    width: 15px;
    height:17px;
}
.slick-next{
    background: url('../images/slick-next.png') no-repeat;
    width: 15px;
    height:17px;
}
/*End */
/* DEAL BLOCK */
.deals-block{
    margin-bottom: 20px;
}
.deals-block .block-header{
    padding-top: 0px;
    padding-bottom: 0px;
}
.deals-block .block-title h2{
    margin-left:18px;
    color:#04469f;

}
.deals-block .filter-options a{
    padding: 10px 13px 10px 19px;
    display: block;
    margin-top:18px;
    transition: background 0s ease-in ;

}
.deals-block .filter-options .open>a.dropdown-toggle{
    background:#fff;
    border-radius:4px 4px 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    border-radius: 10px 10px 0px 0px;
}
.deals-block .filter-options a span{
    margin-right: 5px;

    font-size: 10px;
    margin-left: 2px;
    padding-top: 4px;
}
.deals-block .filter-options ul.dropdown-menu{

    margin:0;
    width:100%;
    box-shadow: 0 11px 12px rgba(0, 0, 0, 0.176);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #fff;
    color:#04469f;
}
.deals-block .filter-options ul.dropdown-menu li a:hover{
    color:#04469f;
}
.deals-block .filter-options ul.dropdown-menu li a{

    color: #7d7d7d;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0;
    padding: 6px 0;
    width: 90px;
}
.deals-block .filter-options ul.refine li a{
    border-top: 1px solid #ccc;
}

.deals-block .filter-options ul.sub-menu li a:first-child{
    border-top: none;
}

.filter-options .refine-filter{
    position:relative;
    overflow: visible;
    clear: both;
    margin: 0 10px;    
    width: 120px;
    min-height: 20px;
}

.filter-options .refine-filter .sub-menu{
    position:absolute;
    left: 100%;
    top: 0;
    display: none;
    transition-delay: 0;
    transition-property: width,height;
    transition-duration: 2s ; 
}

.filter-options .refine-filter:hover .sub-menu{
    display: block;
    max-height: 300px;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;

}
.filter-options .refine-filter .sub-menu>li{
    float:left;
    display: inline;
    padding:0;
    width:220px;
}
.dropdown-menu{
    min-width: 130px;
}
.refine{
    border-radius:0px 0px 15px 15px;
    border: none;

}

.right-options{
    margin-top: 20px;
}

.right-options .extra-options-link{
    padding: 0 10px 10px 10px;
    font-family:Arial;
    color:#c1c0c0;
    font-size: 25px;
}
.right-options .slider-marker {
    padding: 12px 20px 10px 10px;
}
.deals-block .right-options .slider-marker ul li{
    display: none;
    width:10px;
    height:10px;
    font-size: 20px;
    float: left;
    color:#989696;
}


/* SINGLE DEAL */
.deal-single{
    background: #fff;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.deal-single.grid{
    max-height: 290px;
    max-width: 290px;
    box-shadow: 2px 2px 1px #d8d8d8;
    margin: 10px 16px;
}
.deal-single:hover{
    box-shadow: 0px 0px 20px 0px #878787;
    -webkit-box-shadow : 0px 0px 20px 0px #878787;
    -moz-box-shadow: 0px 0px 20px 0px #878787;

}

.deal-single .title{
    padding: 14px 0 8px 0;
    overflow: auto;
}
.deal-single .deal-logo{
    height: 90px;
    line-height: 90px;
    border-right:1px solid #e0e0e0;
}
.deal-single .deal-logo img{
    max-height: 90px;
    max-width:  90px;
}
.deal-image{
    width: 90px;
    height:90px;
    display: table-cell;
    vertical-align: middle;
}
.deal-single .deal-title-block{
    padding-left: 10px;
}
.deal-single .title .deal-title{
    font-size: 120%;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #04469F;
}
.deal-single .title .deal-category,.deal-single .title .deal-location{
    color:#808080;
    font-size: 12px;
    text-transform: capitalize;
    height: 15px;
}
.deal-single .deal-description{
    padding:0px 10px 0 10px;
    height: 50px;
}
.deal-single .deal-description p{
    color: #878787;
    font-size: 13px;
    text-overflow: ellipsis;
    line-height: 20px;
}
.deal-single .deal-funds{
    background-color: #edebe7;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 2px solid #E0E0E0;
    height:95px;
}
.deal-single .deal-funds .fund-requested{
    margin-top:8px;
    font-size: 13px;
}
.deal-single .deal-funds .funds-bar{
    margin-top: 8px;
}
.deal-single .deal-funds .fund-stats .funds-req-amount{
    font-size:110%;
}
.deal-single .deal-funds .funds-bar .progress{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:10px;
    margin: 0;
    -webkit-box-shadow: inset 0px -2px 7px #d2d0cd ;
    -moz-box-shadow: inset 0px -2px 7px #d2d0cd;
    box-shadow: inset 0px -2px 7px #d2d0cd;
}
.deal-single .deal-funds .funds-bar .progress-bar-success{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#b0ee24;
    -webkit-box-shadow:inset 0px -2px 7px #8fbd24;
    -moz-box-shadow:inset 0px -2px 7px #8fbd24;
    box-shadow:inset 0px -2px 7px #8fbd24;
}
.deal-single .deal-funds .fund-stats{
    margin-top: 5px;
    border-bottom: 2px inset #E0E0E0;
}
.deal-single .deal-funds .fund-stats .funds-raised{
    padding: 0;
}
.deal-single .deal-funds .fund-stats h4{
    margin: 5px 0;
    color:#3e4957;
}
.deal-single .deal-funds .fund-stats p{
    color:#3d3d3d;
    font-size: 11px;
}
.deal-single .deal-funds .funds-raised.middle{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.deal-single .deal-footer-links{
    padding-top: 7px;
    height: 40px;
}

.deal-link{
    position: relative;
}
.deal-link:hover{
    cursor: hand;
}
.deal-link a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}


/* HOME BOTTOM PANELS */
.panel-box{
    padding: 0 30px;
    margin-bottom: 20px;
}
.panel-group{
    margin-top: 25px;
}
.panel-group .panel + .panel{
    margin-top: 0;
}
.panel-group .panel-heading{
    background-color:#fff;
}
.panel-group .panel + .panel .panel-heading{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.panel-heading{
    background-color:#fff;
}
.panel-title > a{
    outline:none;
}
.panel-active{
    background-color: #E4E4E4 !important;
}
/*PANELS END*/

/* SETUP STEPS */
.setup-steps{
    border-top:1px solid #EDEDED;
    height:60px;
    overflow: visible;
}
.setup-steps .step{
    height:60px;
    line-height:55px;
    overflow: visible;
    position: relative;
    color:#707070;
    text-indent: 25px;
}
.setup-steps .step:after,
.setup-steps .step:before{
    left: 100%; 
    top: 50%; 
    border: solid transparent; 
    content: " ";
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
    z-index: 200;
}
.setup-steps .step:after{
    border-color: rgba(255, 255, 255, 0); 
    border-left-color: #FFF; 
    border-width: 29px; 
    margin-top: -29px; 
}
.setup-steps .step:before{
    border-color: rgba(237, 237, 237, 0); 
    border-left-color: #ededed; 
    border-width: 32px; 
    margin-top: -32px; 
}
/*.setup-steps .step-active{
    background-color: #96f500;
}
.setup-steps .step-active:before,.setup-steps .step-active:after{
    border-color: rgba(2,2, 2, 0);
}*/
.setup-steps .step-1{
    border-left: 1px solid #EDEDED;
}
.setup-steps .step .step-complete{
    position:absolute;
    background:url("../images/step-complete.png") no-repeat 0 0 transparent;
    right:35%;
    top:75%;
    width: 37px; 
    height: 37px; 
}
/* SETUP STEPS END*/



/**Investor Registration Form**/
.form-header{
    font-size: 28px;
    margin-top: 15px;
    margin-left: 18px;
    color: #04469f;
}
.profile-btn-group{
    margin-top: 15px;

}
.profile-btn-group .active{
    color: #fff;
    background-color: #04469f;
    border-color: #adadad;
}
.investor-register-form{
    min-width: 970px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 0;
    font-size: 14px;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;
}
.form-group{
    width: 100%;
    float:left;
}
.form-label{
    font-size: 14px;
    font-weight: normal;
    color: #707070;

    line-height: 30px;
    font-family: "Lato-Black";
    padding: 0;
    text-align: right;
}
.black{
    color: #3D4957;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
.form-input{
    height: 30px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid #bbb;
}

.form-input.form-area{
    height:95px;
    margin-bottom: 10px;
}
.file-input{
    position: relative;
}
.file-input .lable-file{        
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}
.file-input input{
    cursor: pointer;
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 200;
}
.file-input .input-file-info{
    font-size: 90%;
    color:#adadad;
    line-height: 50px;
}
.file-input .input-file-button{
    background-color: #e0e0e0;
    border-radius: 10px;
    color: #a1a1a1;
    font-size: 90%;
    height: 48px;
    line-height: 46px;
}
.fileinput-filename { font-size: 11px;height: 20px;line-height: 17px;}
select.form-control{
    background: transparent;
    line-height: 1;
    -webkit-appearance: none;
    padding-top: 14px;
}
.form-select{
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right transparent;
}
.form-agree{
    font-size: 11px;
    padding-left: 5px;
}
.form-link{
    text-decoration: underline;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    -moz-box-shadow: 0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.join-btn {
    background: none repeat scroll 0 0 #96F500;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 2px 3px 0 #959595;
    height: 30px;
    width: 80px;
    color: #517205;
    margin-right: 25px;
}
.save-btn {
    background: none repeat scroll 0 0 #96F500;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 2px 3px 0 #959595;
    height: 30px;
    width: 80px;
    color: #517205;
    margin-right: 25px;
}
.login-btn {
    background: none repeat scroll 0 0 #96F500;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 2px 3px 0 #959595;
    height: 30px;
    width: 90px;
    color: #517205;

}

.join-now{
    padding-left: 35px;
}
.social-reg{
    height: 35px;
    width: 35px;
    background: url(../images/reg-social.png) no-repeat;
    text-indent: -99999px;
    display: block;
    margin-left: 10px;
    float: left;
}
.social-link{
    height: 35px;
    width: 40px;
    background: url(../images/sprite.png) no-repeat;
    text-indent: -99999px;
    display: block;
    /*    margin-left: 10px;*/
    float: left;
}
#ln{
    background-position: -8px -133px;
}
#fb{
    background-position: -100px -133px;
}
#tw{
    background-position: -54px -133px;
}

.action-btn{
    border: 1px solid #F0F0F0;
    cursor: pointer;
    padding: 5px 2px;
    text-align: center;
    font-size: 12px;
    background-color: #878686;
    color: #fff;

}
.action-btn:hover{
    background: #04469f;
    color: #fff;
}

.social-head{
    font-size: 16px;
    font-family: "Lato-Bold";
    padding: 0;
    line-height: 40px;
}
.social-ico{
    padding: 0;
}
#linkedin{
    background-position: 0 0;
}
#facebook{
    background-position: -80px 0;
}
#google{
    background-position: -40px 0;
}
.social-or{
    background: url("../images/or.png") no-repeat transparent;
    background-size: contain;
    height: 30px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.icheckbox_minimal {
    float: left;
}
#name-fields{
    margin-top: 10px;
}
.privacy-check{
    margin-right: 5px;
}
/**End**/

/* edit by avadhoot */

.section-head{
    margin-left: 25px;
    font-size: 16px;
    cursor: pointer;
}
.section-head .glyphicon{
    font-size: 12px;
    color: #a7a6a6;
}
.top-links a{
    display: inline-block;
    padding-left: 25px;
    float: left;
}
.logout{
    color: #ff5757;
}
.login-dropdown{
    float: right;
}
.form-control.error{border-color: #a94442;}
label.error{color: #9c602e;font-size: 11px;font-weight: normal;margin: 0px;padding: 3px 0px 0px 5px;}
.radio-inline .error{width: 110px;margin: 10px 0px 0px 7px;}
.icheckbox_minimal .error{width: 140px;position: relative;top: 30px;}
.success-msg, .failure-msg{text-align: center;}

.input-placeholder{
    background-color: #e0e0e0;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 75%;
    height: 28px;
    line-height: 30px;
    position: absolute;
    right: 16px;
    top: 1px;
    text-align: center;
}
.rupee-placeholder{
    background-color: #e0e0e0;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 88%;
    height: 28px;
    line-height: 30px;
    position: absolute;
    left: 16px;
    top: 1px;
    text-align: center;
}
.rupee-placeholder img{
    margin-top: 5px;
}
.rupee-input{
    padding-left: 45px;
}
.uploader{
    height: 30px;
    line-height: 34px;
}
.calender{
    background: url('../images/calender.png')  no-repeat 10px 2px;
}
.login-form{
    overflow: auto;
    background: #fff;
    border-radius: 10px;
    padding: 30px 0;
    font-size: 14px;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;
    overflow: hidden;
}
.alert-danger{
    color: #a94442;
    background-color: #fff;
    border-color: #fff;
}
.alert-danger .alert-link{
    color: #04469f;
}
.alert-success{
    background: none;
    border : none;
    color: #707070;
}
.spacer-10{
    margin-top: 10px;
}
.space-20{
    margin-top: 20px;
}
.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: url("../images/icon-select.png") no-repeat scroll 98% 50%;
}

#investor-info-form .select-style{
    width: 347px;
}

.select-style select {
    padding: 7px 8px;
    width: 100%;
    border: none;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-style-privacy {
    margin-top: 25px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: url("../images/icon-select.png") no-repeat scroll 98% 50%;
}

.select-style-privacy select {
    padding: 2px 18px 2px 2px;
    width: 100%;
    border: none;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style-privacy select:focus {
    outline: none;
}

.breadcrumb-box{
    border-top : 1px solid #d1d0d0;
    border-bottom: 1px solid #d1d0d0;
}
.breadcrumb{
    background-color: #fff;
    border-radius: 0px;
    list-style: none outside none;
    margin: 10px 0;
    padding: 8px 15px;
}

.investee-nav{
    border-bottom: 1px solid #d1d0d0;

    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#e2e2e2), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

}

.investee-nav-link{
    padding: 12px 33px 0px;
}
.investee-nav .investee-nav-link a {
    color: #2d2d2d;
    display: block;
    height: 33px;
    float: left;
}
.content-box div:first-child .dashboard-links{

}
.dashboard-links{
    line-height: 30px;
}
.dashboard-links  span{
    display: inline-block;
    float: left;
    height: 35px;
    width: 35px;
}
.dashboard-links .interest-icon{
    background: url('../images/sprite.png') no-repeat -164px -46px;
}
.dashboard-links .view-icon{
    background: url('../images/sprite.png') no-repeat -43px -47px;
}
.dashboard-links .track-icon{
    background: url('../images/sprite.png') no-repeat -122px -46px;
}
.dashboard-links .investor-icon{
    background: url('../images/sprite.png') no-repeat -204px -46px;
}
.dashboard-links .profile-icon{
    background: url('../images/sprite.png') no-repeat -240px -46px;
}
.dashboard-links .similar-icon{
    background: url('../images/sprite.png') no-repeat -84px -46px;
}

.content-box{
    background: #fff;
    border-radius: 10px;
    padding: 15px 0;
    font-size: 13px;
    margin : 0 20px 20px 20px;
    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;
}

.dropicon{
    font-size: 14px;
    margin-right: 10px;
    margin-left: 5px;
    color: #a8a6a6;
    top: 3px;
}

.content-box-header{
    padding: 20px 0;
}
.heading{
    font-size: 24px;
    color: #04469f;
    margin-left: 18px;
}
.profile-box{
    min-height: 260px;
    background: #fff;
    border-radius: 10px;
    margin: 0 15px 30px 15px;
    padding-top: 30px;
    font-size: 14px;
    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;
}
.user-info{
 overflow: auto;
}
.user-image{
    width: 90px;
    height:90px;
    display: table-cell;
    vertical-align: top;
}
.user-image img{
    max-height: 90px;
    max-width:  90px;
}
.user-name{
    color: #04469f;
    font-size: 16px;
}
.user-location{
    font-size: 13px;
}
.user-rating{
    margin-top: 10px;
}
.user-bio{
    height: 55px;
    padding: 15px;
    text-align: left;
}
.user-investment{
    background-color: #edebe7;
    margin: 10px 2px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.user-interests{
    font-size: 13px;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
}
.user-interests span{
    margin: 5px 0;
}
.user-sectors{
    margin-bottom: 10px;
}
.profile-wrapper{
    margin-bottom: 30px;
}
.company-image{
    height: 80px;
    text-align: center;
    position: relative;
}
.company-image:hover .change-img{display: block;}
.user-image:hover .change-img{display: block;}
.portfolio-image:hover .change-img{display: block;}
.change-img{
    text-align: center;
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 23px;
    z-index: 10;
    font-size: 12px;
    color: #fff;
    background: #000;
    width: 63%;
}
.user-image .change-img{
    left: 20px;
    width: 77%;
    bottom: 15px;
}
.portfolio-image .change-img{
    left: 16px;
    width: 60%;
}
.company-name{
    color: #04469f;
    font-size: 16px;
}
.company-location{
    font-size: 12px;
}
.company-rating{
    margin-top: 0px;
    font-size: 12px;
}
.company-logo,.company-title,.company-investment,.company-offered,.company-validity,.company-commit{
    float: left;
    padding: 10px;
}
.company-logo{
    width: 16%;
}
.company-title{
    width: 16%;
}
.company-investment{
    width: 16%;
}
.company-offered{
    width: 16%;
}
.company-validity{
    width: 16%;
}
.company-commit{
    width: 20%;
}
.company-border{
    border-right: 1px solid #d1d0d0;
}

.profile-detail{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px #e6e6e6;
}
.profile-detail .lato-bold,.profile-basic .lato-bold{
    font-size: 13px;
}
.profile-item{
    padding: 10px 15px;
}
.profile-tabs{
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}
.profile-tabs li{
    float: left;
}
.tab-item{
    text-align: center;
    padding: 0 22px;
    border-right: 1px solid #d1d0d0;
}

.tab-item a{
    font-size: 14px;
}
.tab-active a{
    color: #04469f;
}

.profile-sidenav{
    padding: 30px 10px;
}
.profile-sidenav .sidelink{
    background: none repeat scroll 0 0 #878686;
    color: #fff;
    margin-bottom: 1px;
    padding: 10px;

}
.content-text.presentation-area{
    padding: 30px;
}
.content-text.video-area{
    padding: 20px 25px;
}

.content-text{
    padding: 18px 10px 5px 0px;
}
.content-text p{
    font-size: 13px;
    line-height: 20px;
}
.table>tbody>tr>td{
    line-height: 13px;
    border-top: none;
    border-bottom: 1px solid #ddd;
}
.investee-table{
    font-size: 13px;
}
.content-text:not(:last-child){
    border-bottom: 1px dotted #e6e6e6;
}
.content-infographic{
    border: 1px solid #e6e6e6;
    margin: 30px 0px;
    font-size: 12px;
}
.content-infographic .item{
    margin: 10px;
    overflow: hidden;
    padding-bottom: 5px; 
}
.content-infographic .item span{
    display: inline-block;
    float: left;
    height: 35px;
    width: 35px;
}
.content-infographic .item div{
    float: left;
    margin-left: 7px;
    width: 70%;
}
.content-infographic .item:not(:last-child){
    border-bottom: 1px solid #e6e6e6;
}
.content-infographic .market-icon{
    background: url('../images/sprite.png') no-repeat -4px -80px;
}
.content-infographic .value-icon{
    background: url('../images/sprite.png') no-repeat -44px -80px;
}
.content-infographic .competition-icon{
    background: url('../images/sprite.png') no-repeat -85px -80px;
}
.content-infographic .cost-icon{
    background: url('../images/sprite.png') no-repeat -125px -80px;
}
.content-infographic .fund-icon{
    background: url('../images/sprite.png') no-repeat -165px -80px;
}

.content-infographic .product-icon{
    background: url('../images/sprite.png') no-repeat -204px -80px;
}
.content-infographic a{
    font-family: "Lato-bold";
    color: #333;
}
.search-icon{    
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../images/sprite.png') no-repeat -128px -10px;
}
.notification-box{
    position: absolute;
    right: 15px;
}
.notification-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../images/sprite.png') no-repeat -50px -10px;
}
.notification-num{
    position: relative;
    top: -5px;
    z-index: 100;
    display: inline-block;
    background-color: #f4862d;
    border-radius: 25px;
    height: 17px;
    width: 17px;
    right: 28px;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.notifications{
    left: -377px;
    min-width: 400px;
}
.notifications .notify-url{
    padding: 0px;
    height: 60px !important;
    float: none !important;
}

.notification-action-btns{
    float: left;
    margin: 10px
}

.notification .small-msg{
    margin: 10px 0px; 
}

.investor-nav{
    border-top: 1px solid #d1d0d0;
    border-bottom: 1px solid #d1d0d0;

    -webkit-box-shadow: 1px 3px 1px #ccc;;
    -moz-box-shadow: 1px 3px 1px #ccc;;
    box-shadow: 1px 3px 1px #ccc;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#e2e2e2), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e2e2e2 51%,#cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.investor-navbar >li{
    float: left;

    padding: 12px 40px 10px 20px;
    list-style: none;
    height: 45px;
    font-size: 14px;
}
.investor-nav a{

}
.link-active a{
    font-weight: normal!important;
    border-bottom: 3px solid #04469f;
}
.investor-nav ul a{
    display: block;
    color: #2d2d2d;
    height: 33px;

}
.filter-bar button{
    width: 120px;
}
.preff-link{
    background: none repeat scroll 0 0 #ccc;
    border-radius: 0 0 5px 5px;
    padding: 2px;
}
.preff-drop{
    padding: 15px;
}
/*.pref-panel{
    z-index: 10;
    position: absolute;
}*/

.tracker-panel{
    position: absolute;
    z-index: 10;
    background-color: #f7f5f5;
    border: 1px solid #ccc;
    display: block;
    margin-left: 160px;
    width: 155px;
}
.tracker-panel div{
    padding: 10px 25px;
}
/* CSS by Aniket */
.events-bluebanner {
    background-image: url('../images/blue_banner.png');
    /*background-repeat: no-repeat;*/
    background-position: center;
}
.events-greenbanner {
    background-image: url('../images/green_banner.png');
    /*background-repeat: no-repeat;*/
    background-position: center;
}

.events-headline{
    font-size: 24px;
    color: white;
}
.events-padding {
    padding: 1%;
}
.events-name {
    font-size: 16px;
    color: white;
}
.events-nav{
    border-right: 1px solid #d1d0d0;
    border-bottom: 1px solid #d1d0d0;
}
.events-bottom {
    border-bottom: 1px solid #d1d0d0;
    padding-left: 10px;
}
.news-img-nav{

    border-top: 1px solid #d1d0d0;
    border-bottom: 1px solid #d1d0d0;
    box-shadow: 4px 4px 2px -2px #d1d0d0;

}
.news-headline{
    font-size: 18px;
}
.news-date{
    color: #d1d0d0;
}
.news-breaker{
    padding: 10px;
    border-bottom: 1px solid #d1d0d0;
    margin-bottom: 20px;
}
.faq-header{
    margin-left: 20px;
}
.faq-inactive{
    font-size: 16px;
    color: #8f8f8f;
}
.faq-inactive b{margin-left: 5px;}
#investee-faq,#investor-faq{
    margin-bottom: 5px;
    cursor: pointer;
}

.terms-margin{
    margin: 20px;
}
.eventdetails-left-border{
    border: 1px solid #d1d0d0;
}
.eventdetails-margintop{
    margin-top: 20px;
}
/*investor profile*/

.user-area{
    background: none repeat scroll 0 0 #fdf3c3;
    margin: 10px 0 25px;
    padding: 10px;
}

.shadow-border{

    border-bottom: 1px solid #d1d0d0;
    box-shadow: 0 4px 2px -2px #d1d0d0;
}

.tab-header{
    border-bottom: 1px solid #d1d0d0;
    font-size: 24px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #04469f;
}
.tab-subheader{
    font-size: 18px;
    margin: 10px 0;
}

.dotted-border{
    padding-bottom: 10px;
    border-bottom: 1px dotted #000;
}
.tick-icon{
    background: url('../images/tick.png') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 20px;
}
.tab-content .list-item{
    font-size: 14px;
    padding: 10px 15px;
}
.tab-content .item-border{
    border-bottom: 1px solid #d1d0d0;
    padding-bottom: 10px;
}
.tab-content .followers div{
    padding: 5px;
}
.small-box{
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
    font-size: 14px;
    margin : 25px;
    -webkit-box-shadow: 0 0 2px 1px #ccc;
    -moz-box-shadow: 0 0 2px 1px #ccc;
    box-shadow: 0 0 2px 1px #ccc;
}
.activity-item{
    border-bottom: 1px solid #d1d0d0;
    padding: 15px 0;
}
.activity-item a{
    color: #04469f;
}
.activity-item .activity-time{
    color: #757575;
    font-size: 12px;
}
#save-preff{
    position: relative;
    top :100px;
    right: 300px;
}
.collapse-title {
    display: inline-block;
    height: 20px;
    width: 135px;
    text-align: left;
}

.key-points-list ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}  
.key-points-list ul li{
    padding: 0px;
    margin: 10px 0;
}

.pop-content .sendto{
    padding: 10px 15px;
}
.pop-content .askexpert{
    margin-left: 15px;
}
.pop-content textarea{
    border-radius: 10px;
    padding: 10px;
}

.btn-green{
    border-radius: 25px;
    color: #517205;
    background-color: #96F500;
    border-color: #96F500;

}
.btn-gray{
    border-radius: 25px;
    color: #817f7f;
    background-color: #cacaca;
    border-color: #cacaca;
}

.pop-content .buttons{
    float: right;
    padding: 20px 20px 0 0;
}

.questions-head{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.qn-ans{
    margin: 0px 0px 25px 0px;
    float: left;
}
.qa-text{float: left;}
.qa-text.ans{padding: 7px 7px 0px 15px;background: #F0F0F0;
             -moz-box-shadow:    0px 4px 2px 0px #ccc;
             -webkit-box-shadow: 0px 4px 2px 0px #ccc;
             box-shadow:         0px 4px 2px 0px #ccc;}
.qa-text q,.qa-text a{}
.qa-text p{width: 95%}
.qa-text p.small-txt{font-size: 11px;color: #DBDBDB;}
.qa-text p span{color: #04469f;cursor: pointer;}

.privacy-options{
    position: absolute;
    top: -25px;
    right: 60px;
}
.privacy-icon{
    float: right;
    margin-right: 20px;
}

/* how it works page */
.grey-font{
    color: #959595;
}
.circle {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-top: -5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ededed;
    float: left;
}
.circle-black {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-top: -5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #3d3d3d;
    float: left;
}
.team-member-name{
    font-size: 26px;
    color: #04469f;
}
.team-member-share{
    float: right; 
    margin-right: 15px;
}
.pswd-description{
    color: #959595;
    font-size: 10px;
    padding-top: 4px;
    padding-left: 20px;
}
.btn-padding{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-space{
    margin-left: 10px;
}
.header-howitworks{
    border-top: 1px solid #ddd;
    padding: 15px 0;
    font-size: 13px;
}
.hiw-header{
    font-size: 15px;
}
.hiw-gray-line{
    background-color: #959595;
}
.hiw-border{
    border-color:  #959595;
    border-right: 1px;
}
.hiw-active-tab a{
    color: 	#15499A;
}
/* how it works page end */

/* team page */
.team-member-name{
    font-size: 26px;
    color: #04469f;
}
.team-member-share{
    float: right; 
    margin-right: 15px;
}
/* team page  end*/
.portfolios-item{
    margin-bottom: 30px;
}
.rupee-icon{
    height: 11px;margin-top: -2px; margin-right: 6px;
}
.notification{
    overflow: hidden;
    padding: 10px 20px;
}
.notification-thumb{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
}
.notification-text, .notification-time{
    display: block;
    float: left;
    padding:  0 0 0 10px;
    width: 88%;
}
.notifications .border{
    clear: left; display: inline-block; width: 100%; border-bottom: 1px solid rgb(221, 221, 221); margin-top: 10px;float: left;
}
.zero-notification{
    display: block;
    float: left;
    padding:  10px;
    width: 88%;
}

.search-bar{
    margin-top: 20px;
}
.search-divider{
    height: 1px;
    box-shadow: 0px 2px 1px 0px #bbb;
}
.search-input{
    float: left;
    margin-right: 12px;
}
.search-input .select-style{
    background-color: #fff;
}
.search-bar select{
    width: 150px;    
}

.search-btn {
    background: none repeat scroll 0 0 #96F500;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 2px 3px 0 #959595;
    height: 30px;
    width: 80px;
    color: #517205;    
}

.more-portfolio-btn{
    display: inline;
    cursor: pointer;

    color: #04469f;
}

.skip-portfolio-btn{
    display: inline;
    cursor: pointer;
    color: #04469f;
}
.add-more-btn{
    display: inline;
    cursor: pointer;
    color: #04469f;
}
.hiw-margin-40{
    margin-left: 40px;
}
.hiw-margin-70{
    margin-left: 70px;
}

.subscribe-line{
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}

.portfolio-box, .new-portfolio-box, .business-update-box, .financial-update-box{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.bids-interested{
    font-size: 12px;
    margin-right: 0px;
}
.bids-font{
    font-size: 14px;
}
.rupee-placeholder-bids{
    background-color: #e0e0e0;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 88%;
    height: 32px;
    line-height: 30px;
    position: absolute;
    left: 16px;
    top: 1px;
    text-align: center;
}

/** Platform Stats **/
.platform-stat-wrap{
    float:left;
    width:415px;
    margin-left: 10px;
    margin-top: 10px;
}
.platform-legend{
    float:right;
    margin-left: 5px;
}
.platform-stat-wrap canvas{
    float:left;
}
.platform-legend li{
    list-style: none;
}
.platform-legend li span{
    float:left;
    width:10px;
    height:10px;
    margin-right: 5px;
    margin-top:6px;
}
.platform-stat-title{
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 5px;
}
.platform-stat-divide{
    margin-left: 10px;
    margin-right: 10px;
    border-right: 2px dotted #ccc;
    height: 300px;
    width: 1px;
    float: left;
    

}
/** Platform Stats Ends **/
