*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	overflow-y: scroll;
	background: #ffffff;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	/*height: 100%;*/
	height:auto;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	/*height:auto;*/
	background: #0344a2;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	overflow-y:auto; overflow-x: hidden; border:1px solid #023681;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	/*height: 100%;*/
	height:auto;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	font-size:13px;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect-2.st-menu {
	z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
	display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}
.menu-btn{ background-color:#04459e; color:#ffffff; font-size:14px; font-weight:300; padding:8px 10px; border:1px solid #04459e; border-top-right-radius:4px;}
@media (max-width:1920px){
.st-trigger-effects{ display:none; }
.menu-btn{ display:none; }
}

@media (max-width:1366px){
.st-trigger-effects{ display:none; }
.menu-btn{ display:none; }
}

@media (max-width:1280px){ 
.st-trigger-effects{ display:none; }
.menu-btn{ display:none; }
}

@media (max-width:1024px){ 
.st-trigger-effects{ display:block;}
.menu-btn{ display: block;
position: absolute;
top:80px;
 }
 
 #Outerbanner {
width: 100%;
margin: 0px auto;
background: #a7e41d;
box-shadow: inset 0px 5px 40px -10px #000, inset 0px 2px 43px -50px #000;
margin-top: 10px;
}
}
@media only screen and (min-width : 960px) and (max-width : 1024px) {
	
	.menu-btn{ display:none;}	
}
@media only screen and (min-width :800px) and (max-width : 959px) {
	.investor-navbar{ display:none; }
}

@media (max-width:768px){ 
.st-trigger-effects{ display:block;}
.menu-btn{ display: block;
position: absolute;
top:110px;
 }
}

@media (max-width:480px){ 
.st-trigger-effects{ display:block;}
.menu-btn{ display: block;
position: absolute;
top:110px;
 }
}

