@charset "UTF-8";
@import "http://webfonts.ru/import/ptsans.css";
/*body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}*/
.search-select {
	margin: 5px auto;
	width: 120px;
}
.search-select .field {
	height: 20px;
	width: 120px;
	line-height: 20px;
	display: inline-block;
	/*
  box-shadow: 0 1px 0px #f1efee;
  padding: 15px 10px;
  border: 1px solid #cbbeb9;
  background-image: -moz-linear-gradient(#fafafa, #fdfbfa);
  background-image: -webkit-linear-gradient(#fafafa, #fdfbfa);
  background-image: linear-gradient(#fafafa, #fdfbfa);
  border-radius: 4px;*/
  cursor: pointer;
}
.search-select .icon:after {
	font-style: normal;
	font-family: FontA;
	color: #2a6496;
	font-size: 20px;
	position: relative;
	right: 10px;
	opacity: 0.8;
	float: right;
}
.search-select .icon.user:after {
	content: "";
}
.search-select .icon.list:after {
	content: "";
}
.search-select .icon.stat:after {
	content: "";
}
.search-select .icon.accs:after {
	content: "";
}
.search-select .icon.sign:after {
	content: "";
}
.search-select .icon.arrow:after {
	content: "";
}
.search-select input {
	display: none;
}
.search-select input:checked + .select {
	opacity: 1;
	/*top: 15px;*/
}
.search-select ul.select {
	-moz-transition-property: opacity, top;
	-o-transition-property: opacity, top;
	-webkit-transition-property: opacity, top;
	transition-property: opacity, top;
	-moz-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	opacity: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: white;
	border-radius: 4px;
	border:1px solid #ccc;
	width:160px;
	position: relative;
	top: 10px;
	left: 1px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.search-select ul.select li {
	z-index: 1;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	height: 26px;
	width: 165px;
	line-height: 20px;
	padding: 5px 20px;
	font-family: 'Lato';
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	color: #333333;
}
.search-select ul.select li.arrow {
	/*display: inline;*/
	display:none;
	position: absolute;
	top: -20px;
	left: 270px;
	width: 20px;
	height: 20px;
	z-index: 0;
	border: none;
}
.search-select ul.select li.arrow:after {
	font-size: 40px;
	color: white;
	opacity: 1;
}
.search-select ul.select li:nth-child(2) {
 border-radius: 4px 4px 0 0;
}
.search-select ul.select li:last-child {
	border-radius: 0 0 4px 4px;
}
.search-select ul.select li:not(.icon):hover {
 color: #2a6496;
}
.search-select ul.select li:not(.icon):hover i:after {
 color: #2a6496;
}
.search-select ul.select li:last-child {
	border: none;
}
.search-select ul.select li i:after {
	color: #c0b7b4;
}
.search-select label {
	cursor: pointer;
	height: 20px;
	width: 300px;
	line-height: 20px;
	padding: 15px 10px;
	color: #757575;
	font-family: 'Lato';
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
}
.search-select label:hover {
	cursor: pointer;
	height: 20px;
	width: 300px;
	line-height: 20px;
	padding: 15px 10px;
	color: #2a6496;
	font-family: 'Lato';
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
}
 @font-face {
 font-family: "FontA";
 src: url(http://s.cdpn.io/999/fontawesome-webfont.ttf) format('truetype'), url(http://s.cdpn.io/999/FontAwesome.otf) format('opentype');
}
.arrow-dwn {
display: inline-block;
width: 0;
color: #757575;
height: 0;
margin-left: 5px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}
.arrow-dwn:hover {
color: #2a6496;
}
