@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

.glyphicon-edit:before {
    content: "";
}


.btn_a {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


.space-20 {
    margin-top: 20px;
}

.shadow-border {
    border-bottom: 1px solid #d1d0d0;
    box-shadow: 0 4px 2px -2px #d1d0d0;
}

.tab-header {
    border-bottom: 1px solid #d1d0d0;
    color: #04469f;
    font-size: 24px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.tab-subheader {
    font-size: 18px;
    margin: 10px 0;
}

.tab-content .list-item {
    font-size: 14px;
    padding: 10px 15px;
}

.qn-ans {
    float: left;
    margin: 0 0 25px;
}

.qa-text {
    float: left;
}

.qa-text p {
    width: 95%;
}
.content-text p {
    /*font-size: 13px;*/
    /*line-height: 20px;*/
}

.qa-text p.small-txt {
    color: #dbdbdb;
    font-size: 11px;
}

.qa-text p span {
    color: #04469f;
    cursor: pointer;
}

.qa-text p span {
    color: #04469f;
    cursor: pointer;
}

.tick-icon {
    background: url("../images/tick_small.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 20px;
}

.dotted-border {
    border-bottom: 1px dotted #000;
    padding-bottom: 10px;
}

.activity-item {
    border-bottom: 1px solid #d1d0d0;
    padding: 15px 0;
}

.questions-head {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tab-content .item-border {
    border-bottom: 1px solid #d1d0d0;
    padding-bottom: 10px;
}

.content-text {
    padding: 18px 10px 5px 0;
    word-wrap: break-word;
}

.content-box {
   /* font-size: 13px;*/
}

.company-name {
    color: #04469f;
    font-size: 16px;
}
.company-location {
    font-size: 12px;
}
.company-rating {
    font-size: 12px;
    margin-top: 0;
}
.company-logo, .company-title, .company-investment, .company-offered, .company-validity, .company-commit {
    float: left;
    padding: 10px;
}
.company-logo {
    width: 16%;
}
.company-title {
    width: 16%;
}
.company-investment {
    width: 16%;
}
.company-offered {
    width: 16%;
}
.company-validity {
    width: 16%;
}
.company-commit {
    width: 20%;
}
.company-border {
    border-right: 1px solid #d1d0d0;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.profile-detail {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 4px 2px -2px #e6e6e6;
}
.profile-detail .lato-bold, .profile-basic .lato-bold {
    font-size: 13px;
}
.profile-item {
    padding: 10px 15px;
}
.profile-tabs {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}
.profile-tabs li {
    float: left;
}
.tab-item {
    border-right: 1px solid #d1d0d0;
    padding: 0 22px;
    text-align: center;
}
.tab-item a {
    font-size: 14px;
}
.tab-active a {
    color: #000000;
}
.profile-sidenav {
    padding: 30px 10px;
}
.profile-sidenav .sidelink {
    background: none repeat scroll 0 0 #878686;
    color: #fff;
    margin-bottom: 1px;
    padding: 10px;
}
.content-text.presentation-area {
    padding: 30px;
}
.content-text.video-area {
    padding: 20px 25px;
}
.content-text {
    padding: 18px 10px 5px 0;
}
.content-text p {
    /*font-size: 13px;*/
    /*line-height: 20px;*/
}
.table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
    border-top: medium none;
    line-height: 13px;
}
.investee-table {
    font-size: 13px;
}
.content-text:not(:last-child) {
    border-bottom: 1px dotted #e6e6e6;
}
.content-infographic {
    border: 1px solid #e6e6e6;
    font-size: 12px;
    margin: 30px 0;
}
.content-infographic .item {
    margin: 10px;
    overflow: hidden;
    padding-bottom: 5px;
}
.content-infographic .item span {
    display: inline-block;
    float: left;
    height: 35px;
    width: 35px;
}
.content-infographic .item div {
    float: left;
    margin-left: 7px;
    width: 70%;
}
.content-infographic .item:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
}
.content-infographic .market-icon {
    background: url("../images/sprite.png") no-repeat scroll -4px -80px rgba(0, 0, 0, 0);
}
.content-infographic .value-icon {
    background: url("../images/sprite.png") no-repeat scroll -44px -80px rgba(0, 0, 0, 0);
}
.content-infographic .competition-icon {
    background: url("../images/sprite.png") no-repeat scroll -85px -80px rgba(0, 0, 0, 0);
}
.content-infographic .cost-icon {
    background: url("../images/sprite.png") no-repeat scroll -125px -80px rgba(0, 0, 0, 0);
}
.content-infographic .fund-icon {
    background: url("../images/sprite.png") no-repeat scroll -165px -80px rgba(0, 0, 0, 0);
}
.content-infographic .product-icon {
    background: url("../images/sprite.png") no-repeat scroll -204px -80px rgba(0, 0, 0, 0);
}

.content-infographic a {
    color: #333;
    font-family: "Lato";
    font-weight: 600;
}

.profile-tabs li {
    float: left;
}
.nav > li {
    display: block;
    position: relative;
}

.action-btn {
    background-color: #878686;
    border: 1px solid #f0f0f0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 2px;
    text-align: center;
}
.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}
.social-ico {
    padding: 0;
}
#ln {
    background-position: -8px -133px;
}
#tw {
    background-position: -54px -133px;
}
#fb {
    background-position: -100px -133px;
}
.social-link {
    background: url("../images/sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 35px;
    text-indent: -99999px;
    width: 40px;
}


.investee-table {
    font-size: 13px;
}
.table {
    margin-bottom: 20px;
    width: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

th {
    text-align: left;
}

td, th {
    padding: 0;
}

.rupee-icon {
    height: 11px;
    margin-right: 6px;
    margin-top: -2px;
}



.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;

  direction: ltr;
}
.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}
.fileinput .form-control {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 4px 4px 0;
}
.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
  border-radius: 0 3px 3px 0;
}
.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
  border-radius: 0 6px 6px 0;
}
.form-group.has-warning .fileinput .fileinput-preview {
  color: #8a6d3b;
}
.form-group.has-warning .fileinput .thumbnail {
  border-color: #faebcc;
}
.form-group.has-error .fileinput .fileinput-preview {
  color: #a94442;
}
.form-group.has-error .fileinput .thumbnail {
  border-color: #ebccd1;
}
.form-group.has-success .fileinput .fileinput-preview {
  color: #3c763d;
}
.form-group.has-success .fileinput .thumbnail {
  border-color: #d6e9c6;
}
.input-group-addon:not(:first-child) {
  border-left: 0;
}
