/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}
.txt-rt { text-align: right; }/* text align right */
.txt-lt { text-align: left; }/* text align left */
.txt-center { text-align: center; }/* text align center */
.float-rt { float: right; }/* float right */
.float-lt { float: left; }/* float left */
.clear { clear: both; }/* clear float */
.pos-relative { position: relative; }/* Position Relative */
.pos-absolute { position: absolute; }/* Position Absolute */
.vertical-base { vertical-align: baseline; }/* vertical align baseline */
.vertical-top { vertical-align: top; }/* vertical align top */
.underline {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
}/* Add 5px bottom padding and a underline */
nav.vertical ul li { display: block; }/* vertical menu */
nav.horizontal ul li { display: inline-block; }/* horizontal menu */
img { max-width: 100%; }
.panel-group { margin-bottom: 20px; }
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default { border-color: #ddd; }
.panel-heading { background-color: #fff; }
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}
.panel-body {
	padding: 15px;
	height: 100%;
}
.video-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
hr.hr-divider {
	border: 1px solid #a2a1a1;
	border-bottom: 1px solid #d1d1d1;
}
.text-bold { font-weight: bold; }
.video-container iframe { width: 60%; }
/*.collapse {display: none;}
.collapse.in {display: block;}*/

fieldset {
	border: 0 none;
	margin: 0;
	min-width: 0;
	padding: 0;
}
legend {
	border-color: #e5e5e5;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #333;
	display: block;
	font-size: 21px;
	line-height: inherit;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
	overflow: hidden;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.panel-group .panel-heading {
	background-color: #fff;
	border-bottom: 0;
}
.input-group {
	border-collapse: separate;
	display: table;
	position: relative;
}
.fileinput {
	display: inline-block;
	margin-bottom: 9px;
}
.uploader {
	height: 30px;
	line-height: 34px;
}
.fileinput.input-group { display: table; }
.btn {
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.page-header {
	border-bottom: 1px solid #eee;
	margin: 40px 0 20px;
	padding-bottom: 9px;
}
.btn-group, .btn-group-vertical {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.btn-group > .btn:first-child { margin-left: 0; }
.btn-group > .btn, .btn-group-vertical > .btn {
	float: left;
	position: relative;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.btn-default {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.btn-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: #fff;
}
.btn-primary {
	background-color: #428bca;
	border-color: #357ebd;
	color: #fff;
}
.input-group .form-control {
	float: left;
	margin-bottom: 0;
	position: relative;
	width: 100%;
	z-index: 2;
}
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.fileinput-filename {
	font-size: 11px;
	height: 20px;
	line-height: 17px;
}
.input-group-addon {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 1px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	padding: 6px 12px;
	text-align: center;
}
.input-group-addon, .input-group-btn {
	vertical-align: middle;
	white-space: nowrap;
	width: 1%;
}
input[type="file"] { display: block; }
.btn-file > input {
	cursor: pointer;
	direction: ltr;
	font-size: 23px;
	height: 100%;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists { display: none; }
.input-placeholder {
	background-color: #e0e0e0;
	border-radius: 3px;
	color: #a1a1a1;
	/*font-size: 80%;*/
	height: 28px;
	line-height: 30px;
	position: absolute;
	right: 16px;
	text-align: center;
	top: 1px;
}
.list-group {
	margin-bottom: 20px;
	padding-left: 0;
}
.list-group-item {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: -1px;
	padding: 10px 15px;
	position: relative;
}
.list-group-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.list-group-item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 0;
}
.glyphicon-remove:before { content: ""; }
.glyphicon-cog:before { content: ""; }
.more-portfolio-btn {
	color: #04469f;
	cursor: pointer;
	display: inline;
}
/*
.panel-default>.panel-heading+.panel-collapse .panel-body {border-top-color: #ddd;}
.panel-group .panel-heading+.panel-collapse .panel-body {border-top: 1px solid #ddd;}
*/

.content-box2 p, .content-box p { margin: 0 0 10px; }
.embed-responsive.embed-responsive-16by9 { padding-bottom: 56.25%; }
.embed-responsive {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
	border: 0 none;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.tab-lato-bold {
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}
.alert {
	padding: 15px;/*margin-bottom: 20px;*/
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-danger {/*background-color: #f2dede;border-color: #ebccd1;*/ color: #a94442; }
.form-group {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-label {
	color: #777;
	line-height: 2.8em;
	font-size: 1.1em;
	text-align: right;
}
select[multiple], select[size] { height: auto; }
.key-points-list ul {
	list-style-type: none;
	width: auto;
}
/*
.radio-inline, .checkbox-inline {display: inline-block;padding-left: 20px;margin-bottom: 0;font-weight: 400;vertical-align: middle;cursor: pointer;}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {position: absolute;margin-top: 2px;margin-left: -20px;}
*/
.radio-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer;
}
.form-control.error { border-color: #a94442 !important; }
label.error {
	color: #9c602e !important;
	font-size: 11px !important;
	font-weight: normal;
	margin: 0px;
	padding: 3px 0px 0px 5px;
	white-space: nowrap;
}
.top-margin-10 { margin-top: 10px !important; }
.top-margin-20 { margin-top: 20px !important; }
.bottom-margin-20 { margin-bottom: 20px !important; }
.top-padding-30 { padding-top: 30px !important; }
.bottom-padding-30 { padding-bottom: 30px !important; }
.circle {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	margin-top: -5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ededed;
	float: left;
}
.circle-black {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	margin-top: -5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #000000;
	float: left;
}
.grey-font { color: #959595; }
.hiw-margin-40 { margin-left: 40px; }
.hiw-margin-70 { margin-left: 70px; }
.st-content, .st-content-inner { background-color: #ededed; }
/*end reset*/
body {
	font-family: 'Lato';
	font-size: 14px;
	background: #fff;
	line-height: 1.42857 !important;
}
body * { font-family: 'Lato'; }
.investor-register-form { padding: 30px 0; }
.section-head {
	cursor: pointer;
	margin-left: 14px;
}
div.jHtmlArea .ToolBar ul li a.underline { margin: 0px; }
.block-title h2 { font-size: 1.8em;/*padding-left:10px;*/ }
.faq-header { font-size: 1.6em; }
.wrap {
	width: 970px;
	margin: 0 auto;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
}
.header-top { background: #4cb1ca; }
.header-top-left {
	width: 54.5%;
	float: left;
}
.box {
	float: left;
	width: 20.5%;
	margin-right: 10.6%;
}
.box1 {
	float: left;
	width: 20.5%;
}
.panel-body.faq-panel-body {
	padding-bottom: 0;
	padding-top: 0;
}
.team-member-name {
	font-size: 26px;
	color: #04469f;
}
.team-member-share {
	float: right;
	margin-right: 15px;
}
.cssmenu {
	float: right;
	color: #757575;
	font-size: 0.8125em;
	margin-top: 5px;
}
.cssmenu-right {
	float: right;
	color: #04469f;
	font-size: 0.8125em;
	clear: right;
	margin-top: 25px;
}
.cssmenu ul li { display: inline-block; }
.cssmenu ul li a {
	color: #04469f;
	display: block;
	margin: 10px;
	font-size: 14px;
}
.cssmenu li> a:hover {
	color: #04469f;
	font-size: 14px;
	text-decoration: underline;
}
.cssmenu-right ul li { display: inline-block; }
.cssmenu-right ul li a {
	color: #04469f;
	display: block;
	margin: 10px;
	font-size: 14px;
}
.cssmenu-right li> a:hover {
	color: #04469f;
	font-size: 14px;
	text-decoration: underline;
}
.header-bottom { background: #fff; }
.logo {
	float: left;
	margin-right: 6.6%;
}
/*--menu--*/
/* dCodes Framework:(c) TemplateAccess */
.menu {
	float: left;
	margin-top: 6px;
}
/* start menu */
.h_nav h4 {
	border-bottom: 1px solid rgb(236, 236, 236);
	font-size: 1.3em;
	color: #7D97A3;
	line-height: 1.8em;
	text-transform: capitalize;
	margin-bottom: 4%;
}
.h_nav h4.top { margin-top: 12%; }
.h_nav ul li { display: block; }
.h_nav ul li a {
	display: block;
	font-size: 0.85em;
	color: #777;
	text-transform: capitalize;
	line-height: 2em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover {
	color: #00405d;
	text-decoration: underline;
}
.header-bottom-left {
	float: left;
	width: 60%;
	margin-top: 22px;
	margin-bottom: 22px;
}
.header-bottom-right {
	float: right;
	width: 30.5%;
	margin-top: 10px;
}
.search {
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
	margin: 6px 20px 0 0;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size: 0.85em;
	font-family: "Lato-black";
	color: #777;
	width: 130px;
	padding: 7px;
	-webkit-apperance: none;
	margin: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search input[type="submit"]:active { position: relative; }
.tag-list { float: left; }
/* create_btn */
.create_btn { float: right; }
.create_btn a {
	text-transform: capitalize;
	display: inline-block;
	padding: 10px 20px;
	font-size: 0.8725em;
	color: #ffffff;
	background: #ffcc33;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.create_btn a:hover {
	background: #00405d;
	color: #ffffff;
}
.create_btn a img {
	vertical-align: top;
	margin-top: 3px;
}
/* start icon styles */
.icon1:before, .icon1:after {
	content: "";
	display: table;
}
.icon1:after { clear: both; }
.icon1 {
	float: left;
	zoom: 1;
}
.icon1 li {
	float: left;
	position: relative;
}
.icon1 li:last-child { border-right: none; }
.icon1 li:hover > a { color: #fafafa; }
*html .icon1 li a:hover { /* IE6 only */ color: #fafafa; }
.icon1 ul {
	width: 300px;
	margin: 20px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 75px;
	z-index: 1;
	right: -140px;
	background: #ffffff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 0px 2px 6px #aaa;
	-webkit-box-shadow: 0px 2px 6px #aaa;
	-moz-box-shadow: 0px 2px 6px #aaa;
	-o-box-shadow: 0px 2px 6px #aaa;
}
.icon1 li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	z-index: 9999;
}
.icon1 ul ul {
	top: 6px;
	left: 158px;
	margin: 0 0 0 20px;
}
.icon1 ul li {
	float: none;
	display: block;
	border: 0;
}
.icon1 ul li:first-child { border-top: none; }
.icon1 ul li:first-child a {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.icon1 ul a {
	_height: 10px; /*IE6 only*/
	white-space: nowrap;
	float: none;
	text-transform: none;
}
.active-icon { display: block; }
.icon1 ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 45%;
	top: -30px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
	left: -100px;
	top: 0%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-right: 20px solid #323757;
}
/* Mobile */
.icon1-trigger { display: none; }
.sub-icon1 img {
	border: none;
	display: inline-block;
	vertical-align: middle;
}
.icon1 .profile_img { margin-top: 3px; }
.sub-icon1 ul li h3 {
	text-align: center;
	font-size: 1.3em;
	color: #399FB8;
	text-transform: uppercase;
	margin-bottom: 4%;
}
.sub-icon1 ul li p {
	text-align: center;
	font-size: 0.8725em;
	color: #555555;
	line-height: 1.8em;
}
.sub-icon1.list { padding: 20px 0px; }
.sub-icon1 ul li p a { color: #00405d; }
.sub-icon1 ul li p a:hover {
	color: #555555;
	text-decoration: underline;
}
ul.last {
	float: left;
	margin: 12px 0px 0 20px;
}
ul.last li a {
	color: #000;
	text-transform: uppercase;
}
ul.last li a:hover { color: #176375; }
/*--content--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.main { background-color: #ededed; }
.cont {
	display: block;
	float: left;
}
.rsidebar {
	display: block;
	float: left;
	margin: 2.7% 0 1% 2.6%;
}
.span_2_of_3 { width: 100%; }
.span_1_of_3 {
	width: 31.2%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.span_1_of_left { width: 20.2%; }
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	-moz-box-shadow: 0 0 5px #aaa;
	-o-box-shadow: 0 0 5px #aaa;
}
.span_1_of_3:hover {
	background: #4CB1CA;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	color: #fff;
}
.span_1_of_3:hover p.title { color: #FFF; }
.span_1_of_3:hover span.actual { color: #FFF; }
.span_1_of_3:hover span.reducedfrom { color: #FFF; }
.col_1_of_3:first-child { margin-left: 0; }
h2.head {
	font-size: 30px;
	color: #04469f;
	margin-bottom: 15px;
	font-family: 'Lato';
}
.price { padding: 10px 0 0 0; }
.inner_content {
	padding: 10px;
	position: relative;
}
.product_image { }
.product_image img {
	display: block;
	border: 1px solid #f0f0f0;
}
.sale-box {
	height: 100px;
	right: -5px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: -5px;
	width: 100px;
}
.sale-box span.before {
	right: 89px;
	background: #CB3D27;
}
.sale-box span.on_sale {
	background: #4cb1ca;
	color: #FFF;
	display: block;
	left: -9px;
	font-size: 1em;
	padding: 5px 0;
	position: relative;
	text-align: center;
	top: 25px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 140px;
	z-index: 2;
	text-transform: uppercase;
	border-bottom: 2px solid #2892AC;
}
.cart-left {
	width: 73.5%;
	float: left;
	margin-right: 2.6%;
}
p.title {
	color: #777;
	font-size: 1.3em;
}
p.title a:hover { color: #7DB122; }
.price1 { margin-top: 10px; }
span.actual {
	color: #7db122;
	font-size: 1em;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 8%;
	color: #555;
}
.sale-box1 {
	height: 100px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100px;
}
.sale-box span.before {
	right: 89px;
	background: #CB3D27;
}
.sale-box1 span.on_sale {
	background: #7DB122;
	color: #FFF;
	display: block;
	left: -35px;
	font-size: 1em;
	padding: 5px 0;
	position: relative;
	text-align: center;
	top: 23px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 140px;
	z-index: 2;
	text-transform: uppercase;
	border-bottom: 2px solid #6B9C15;
}
.top-box { margin-bottom: 2%; }
.top-box1 { margin-bottom: 4%; }
.top-border { border-top: 5px solid #4cb1ca; }
.btn {
	position: relative;
	text-align: center;
	z-index: 100;
}
.btn a {
	border: none;
	color: #FFF;
	cursor: pointer;
	padding: 12px 20px;
	display: inline-block;
	font-size: 1em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #4CB1CA;
	position: absolute;
	top: -90px;
	left: 52px;
}
.btn a:hover { background: #39a0b9; }
.sidebar-bottom {
	box-shadow: 0 0 5px #AAA;
	-webkit-box-shadow: 0 0 5px #AAA;
	-moz-box-shadow: 0 0 5px #AAA;
	-o-box-shadow: 0 0 5px #AAA;
	padding: 30px 20px;
	text-align: center;
}
h2.m_1 {
	font-size: 1.7em;
	text-transform: uppercase;
	color: #777;
	margin-bottom: 15px;
}
p.m_text {
	color: #888;
	font-size: 0.95em;
	margin-bottom: 20px;
}
.subscribe form input[type="text"] {
	font-family: "Lato-black";
	border: 1px solid #ddd;
	outline: none;
	background: none;
	font-size: 0.85em;
	color: #888;
	width: 87%;
	padding: 6px;
	-webkit-apperance: none;
}
.subscribe input[type="submit"] {
	font-family: "Lato-black";
	cursor: pointer;
	color: #FFF;
	font-size: 1em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #7EB123;
	padding: 12px 20px;
	border: none;
	margin-top: 20px;
	-webkit-appearance: none;
}
.subscribe input[type="submit"]:hover { background: #72a41b; }
/*--footer--*/
/*  GRID OF TWO   ============================================================================= */
.footer-top { background: #4cb1ca; }
.col_1_of_2 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_2:first-child { margin-left: 0; }
.span_1_of_2 { width: 49.2%; }
ul.f-list img {
	float: left;
	margin-right: 1.6%;
}
ul.f-list span.f-text {
	float: left;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #FFF;
	margin-top: 23px;
}
/*--footer-middle--*/
.footer-middle { padding: 1% 0% 0% 0%; }
.footer-middle { background-color: #04469f; }
.span_1_of_f_2 h3 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	text-transform: uppercase;
}
.col_1_of_f_1 {
	display: block;
	float: left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_f_1:first-child { margin-left: 0; }
.span_1_of_f_1 { width: 48.2%; }
.col_1_of_f_2 {
	display: block;
	float: left;
	margin: 1% 0 1% 9.6%;
}
.col_1_of_f_2:first-child {
	margin-left: 0;
	min-height: 88px;
	border-right: 1px solid #195BB2;
}
.span_1_of_f_2 {
	width: 45.2%;
	min-height: 44px;
	border-right: 1px solid #195BB2;
}
.like_box {
	background: #fff;
	width: 108.5%;
}
.facebook {
	color: #fff;
	font-size: 0.8125em;
	border-bottom: 1px solid #4CB1CA;
	padding-bottom: 6px;
}
ul.f-gallery {
	border-bottom: 1px solid #4CB1CA;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
ul.f-gallery li {
	display: inline-block;
	width: 19.5%;
	margin: 10px 0 0 0;
}
p.m_2 {
	color: #fff;
	font-size: 0.8125em;
}
.recent-tweet { margin-bottom: 1em; }
.recent-tweet-icon {
	float: left;
	width: 16.5%;
	margin: 0% 2.6% 0 0;
}
.recent-tweet-info {
	float: right;
	width: 77.5%;
}
.recent-tweet-info p {
	color: #fff;
	font-size: 0.85em;
	line-height: 1.8em;
}
.recent-tweet-info p a { color: #ACEAFA; }
.recent-tweet-info p a:hover { color: #fff; }
ul.f-list1 li a {
	font-size: 14px;
	color: #fff;
	vertical-align: middle;
}
ul.f-list1 li a:hover { color: #ACEAFA; }
.company_address {
	border-bottom: 1px solid #4CB1CA;
	padding-bottom: 10px;
}
.company_address p {
	font-size: 0.8125em;
	color: #fff;
	line-height: 1.8em;
}
.company_address p span { cursor: pointer; }
.company_address p span:hover { text-decoration: underline; }
/*---social-icons-----*/
.social-media { margin-top: 15px; }
.social-media li {
	float: left;
	margin: 0px 10px 10px 0;
	display: inline-block;
}
.social-media li a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.8;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
/*--------social simptip--------*/
[data-tooltip] {
 position: relative;
 display: inline-block;
}
[data-tooltip].simptip-position-bottom:before { border-bottom-color: #4CB1CA; }
[data-tooltip].simptip-position-bottom:after {
	background-color: #4CB1CA;
	color: #fff;
}
[data-tooltip]:before {
	content: '';
	position: absolute;
	border-width: 6px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
}
[data-tooltip]:before, [data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: 999999;
}
[data-tooltip]:after {
	height: 22px;
	padding: 11px 11px 0;
	font-size: 13px;
	line-height: 11px;
	content: attr(data-tooltip);
	white-space: nowrap;
}
[data-tooltip]:hover, [data-tooltip]:focus { background-color: rgba(0, 0, 0, 0); }
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
	visibility: visible;
	opacity: 1;
}
.simptip-position-bottom.simptip-movable:before { margin-top: -15px; }
.simptip-position-bottom.simptip-movable:after { margin-top: -3px; }
.simptip-position-bottom:before, .simptip-position-bottom:after, .simptip-position-top:before, .simptip-position-top:after { left: 32%; }
.simptip-position-bottom:before, .simptip-position-bottom:after { top: 110%; }
.simptip-position-bottom:after, .simptip-position-top:after { margin-left: -18px; }
.simptip-position-right.simptip-movable:before, .simptip-position-right.simptip-movable:after, .simptip-position-left.simptip-movable:before, .simptip-position-left.simptip-movable:after, .simptip-position-top.simptip-movable:before, .simptip-position-top.simptip-movable:after, .simptip-position-bottom.simptip-movable:before, .simptip-position-bottom.simptip-movable:after {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}
.footer-bottom {
	background: #cecece;
	padding: 1% 0;
}
.copy {
	float: left;
	line-height: 27px;
}
.copy p {
	color: #04469f;
	font-size: 0.8125em;
	font-size: 14px;
}
.copy p a {
	color: #757575;
	font-size: 14px;
}
.f-list2 {
	float: right;
	color: #04469f;
}
.f-list2 li {
	display: inline-block;
	margin: 0 10px;
}
.f-list2 li a {
	color: #04469f;
	font-size: 0.8125em;
	font-size: 14px;
}
.f-list2 li a:hover { color: #000; }
/*--login--*/
.login {
	border-top: 1px solid #ddd;
	padding: 2% 0;
}
.col_1_of_login:first-child { margin-left: 0; }
.span_1_of_login {
	width: 44.2%;
	padding: 1.5%;
}
.col_1_of_login {
	display: block;
	float: left;
	margin: 1% 0 1% 4.6%;
	background: #f7f7f7;
}
.span_1_of_login p {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
}
h4.title {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	border: 1px solid #BDBCBC;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	height: 27px;
	padding: 0 7px;
	width: 100%;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 13px;
}
#register-form label.terms_and_condition {
	font-size: 0.8em;
	line-height: 1.1;
}
#register-form label, #login-form label, #account-setting-form label {
	color: #777;
	line-height: 2.8em;
	font-size: 0.95em;
	text-align: right;
}
#login-form label a { color: #777; }
#login-form label a { text-decoration: underline; }
#register-form label a, #login-form label a:hover { text-decoration: none; }
#login-form-remember { float: left; }
.eq-btn {
	background: none repeat scroll 0 0 #96F500;
	border: 0 none;
	border-radius: 15px;
	box-shadow: 2px 3px 0 #959595;
	height: 30px;
	width: 80px;
	font-size: 14px;
	color: #517205;
	cursor: pointer;
}
fieldset.input input[type="submit"] {
	background: #555;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: "Lato-black";
	outline: none;
	font-size: 1em;
}
fieldset.input input[type="submit"]:hover, .button1 input[type="submit"]:hover { text-decoration: underline; }
.button1 {
	float: right;
	margin-top: 6%;
}
.button1 input[type="submit"] {
	background: #555;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	font-family: "Lato-black";
	outline: none;
	font-size: 1em;
}
.remember { margin-top: 6%; }
/*--register-form--*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.register_account {
	border-top: 1px solid #ddd;
	padding: 2% 0;
}
.register_account table td { width: 100%; }
.register_account form input[type="text"], .register_account form select {
	font-size: 0.95em;
	color: #777;
	padding: 8px;
	outline: none;
	margin: 10px 0;
	width: 91%;
	font-family: "Lato-black";
	border: none;
	box-shadow: 0 0 2px #aaa;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	-o-box-shadow: 0 0 2px #aaa;
}
.register_account form input[type="text"]:hover, .register_account form select:hover {
	box-shadow: 0 0 4px #aaa;
	-webkit-box-shadow: 0 0 4px #aaa;
	-moz-box-shadow: 0 0 4px #aaa;
	-o-box-shadow: 0 0 4px #aaa;
}
.register_account form input[type="text"].code { width: 15%; }
.register_account form input[type="text"].number { width: 69.8%; }
p.terms a, p.note a {
	text-decoration: underline;
	color: #555;
}
p.terms {
	float: left;
	font-size: 12px;
	padding: 15px 0 0 15px;
}
button.grey {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background: #555;
	font-size: 0.95;
	line-height: 16px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: #FFF;
	border: none;
	float: left;
	font-family: "Lato-black";
	outline: none;
}
button.grey:hover {
	background: #4CB1CA;
	color: #FFF;
}
.register_account form input[type="text"].code { width: 15%; }
p.code { color: #777; }
p.cart {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
}
p.cart a {
	text-decoration: underline;
	color: #000;
}
p.cart a:hover { text-decoration: none; }
/*--mens--*/
.mens-toolbar {
	margin: 0 0 12px;
	overflow: hidden;
	background: #F7F7F7;
	padding: 5px;
	border: 1px solid #E6E6E6;
	width: 97.5%;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort { padding: 3px 8px; }
.sort-by {
	color: #777;
	font-size: 0.85;
}
.mens-toolbar .pager {
	padding: 3px 8px;
	float: right;
	margin: 0;
	width: 26.5%;
}
.pager .limiter {
	float: right;
	color: #777;
	font-size: 0.85em;
}
.pager .limiter label { vertical-align: middle; }
.pager .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
.pager .pages {
	margin: 0 30px 0 0;
	float: right;
}
.pager .pages ol { display: inline; }
h3.page { float: left; }
.pager .pages ul li { float: left; }
ul.dc_pagination li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
}
ul.dc_pagination li a {
	color: #777;
	display: block;
	padding: 2px 4px 0px 0px;
	text-decoration: none;
	font-size: 0.85em;
}
ul.dc_pagination li a:hover { color: #555; }
/* PREFIXED CSS */
.metro, .metro div, .metro li, .metro div::after, .metro .carat, .metro .carat:after, .metro .selected::after, .metro:after {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.metro .selected::after, .metro.scrollable div::after {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.metro {
	position: relative;
	/*--width: 250px;--*/
	cursor: pointer;
	margin-bottom: 0px;
	font-weight: 200;
	background: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.metro.open { z-index: 2; }
.metro:hover { background: #f4f4f4; }
.metro:after {
	content: '';
	position: absolute;
	right: 3px;
	bottom: 3px;
	top: 2px;
	width: 30px;
	background: transparent;
}
.metro.focus:after {
	background: url(../images/minus.gif);
	width: 13px;
	height: 13px;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}
/* CARAT */
.metro .carat, .metro .carat:after {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	background: url(../images/plus.gif);
	width: 13px;
	height: 13px;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;/*--content: '';
	border: 8px solid transparent;
	border-top: 8px solid #000;--*/
}
/* OLD SELECT (HIDDEN) */
.metro .old {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.metro select {
	position: absolute;
	left: 0px;
	top: 0px;
}
.metro.touch select {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro .selected, .metro li {
	display: block;
	font-size: 13px;
	line-height: 1;
	color: #777;
	padding: 9px 12px;
	overflow: hidden;
	white-space: nowrap;
}
.metro .selected::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
.metro:hover .selected::after {
	box-shadow: inset -55px 0 25px -20px #f4f4f4;
	-webkit-box-shadow: inset -55px 0 25px -20px #f4f4f4;
	-moz-box-shadow: inset -55px 0 25px -20px #f4f4f4;
	-o-box-shadow: inset -55px 0 25px -20px #f4f4f4;
}
/* DROP DOWN WRAPPER */
.metro div {
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: -1px;
	background: #f8f8f8;
	overflow: hidden;
	opacity: 0;
}
.metro:hover div { background: #f4f4f4; }
/* Height is adjusted by JS on open */
.metro.open div {
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	box-shadow: inset 0 -50px 30px -35px #f8f8f8;
}
.metro.scrollable:hover div::after { box-shadow: inset 0 -50px 30px -35px #f4f4f4; }
.metro.scrollable.bottom div::after { opacity: 0; }
/* DROP DOWN LIST */
.metro ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.metro.scrollable.open ul { overflow-y: auto; }
/* DROP DOWN LIST ITEMS */
.metro li {
	list-style: none;
	padding: 8px 12px;
}
/* .focus class is also added on hover */
.metro li.focus {
	/*--background: #0180d1;--*/
	position: relative;
	z-index: 3;
	color: #fff;
	background: #4CB1CA;
}
/*--.metro li.active{
	background:#4CB1CA;
	color: #fff;
}--*/
/* --- EASYDROPDOWN FLAT THEME by Jan Cantor --- */

/* PREFIXED CSS */
.dropdown, .dropdown div, .dropdown li, .dropdown div::after, .dropdown .carat, .dropdown .carat:after, .dropdown .selected::after, .dropdown:after {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after, .dropdown.scrollable div::after {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
/*--.dropdown{
	position: relative;
	width:120px;
	cursor: pointer;
	font-weight: 200;
	background:none;
	padding: 8px 0px 8px;
	color:  #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}--*/
.dropdown.open { z-index: 2; }
.dropdown:hover, .dropdown.focus { /*--background:#F7F7F7;--*/ }
/* CARAT */
.dropdown .carat, .dropdown .carat:after {
	position: absolute;
	right: 14px;
	top: 50%;
	margin-top: -3px;
	border: 6px solid transparent;
	border-top: 6px solid #fff;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after { border-top-color: #f4f4f4; }
.dropdown.focus .carat { border-top-color: #f8f8f8; }
.dropdown.focus .carat:after { border-top-color: #0180d1; }
.dropdown.open .carat {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select {
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
/*--.dropdown .selected {
    color: #FFF;
}--*/
.dropdown .selected, .dropdown li {
	display: block;
	font-size: 0.85em;
	/*--padding: 8px 12px;--*/
	overflow: hidden;
	white-space: nowrap;
}
.dropdown .selected::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
.dropdown:hover .selected::after, .dropdown.focus .selected::after { }
/* DROP DOWN WRAPPER */
.dropdown div {
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 1px;
	background: #4CB1CA;
	overflow: hidden;
	opacity: 0;
	color: #C0F3FF;
}
.dropdown:hover div { background: #4CB1CA; }
/* Height is adjusted by JS on open */
.dropdown.open div {
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable:hover div::after { }
.dropdown.scrollable.bottom div::after { opacity: 0; }
/* DROP DOWN LIST */
.dropdown ul {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.dropdown.scrollable.open ul { overflow-y: auto; }
/* DROP DOWN LIST ITEMS */
.dropdown li {
	list-style: none;
	padding: 8px;
	border-bottom: 1px solid #39A0B9;
}
.dropdown li:last-child { border-bottom: 0; }
/* .focus class is also added on hover */
.dropdown li.focus {
	background: #39A0B9;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active {
	background: #39A0B9;
	color: #fff;
}
h5.m_1 {
	color: #555;
	font-size: 1.1em;
	padding: 6px 10px;
	background: #F7F7F7;
	margin: 20px 0;
	border: 1px solid #E6E6E6;
	text-transform: uppercase;
}
ul.kids { margin-bottom: 20px; }
ul.kids li { margin-bottom: 10px; }
ul.kids li.last { margin-bottom: 0; }
ul.kids li a {
	color: #777;
	font-size: 0.85em;
	padding: 10px 12px;
}
ul.kids li a:hover { color: #000; }
.mens { border-top: 1px solid #ddd; }
ul.color-list { margin: 20px; }
ul.color-list li {
	padding-bottom: 25px;
	display: block;
}
ul.color-list li a {
	display: block;
	font-size: 1em;
	text-transform: capitalize;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	transition: 0.5s linear;
}
p.red {
	display: inline-block;
	margin: 0 10px;
	font-size: 0.85em;
}
span.color1 {
	background: red;
	padding: 5px 14px;
}
ul.color-list li a { color: #777; }
ul.color-list li a:hover {
	display: block;
	color: #4CB1CA;
}
span.color2 {
	background: #45BF55;
	padding: 5px 14px;
}
span.color3 {
	background: #0AA5E2;
	padding: 5px 14px;
}
span.color4 {
	background: yellow;
	padding: 5px 14px;
}
span.color5 {
	background: violet;
	padding: 5px 14px;
}
span.color6 {
	background: Orange;
	padding: 5px 14px;
}
span.color7 {
	background: gray;
	padding: 5px 14px;
}
/*--single--*/
/*****Pagination********/
#products .pagination {
	margin-top: 8px;
	float: left;
}
#products .pagination li {
	float: left;
	margin: 2px 4px;
	list-style: none;
}
#products .pagination li:first-child { margin-left: 0px; }
#products .pagination li a {
	border: 1px solid #D6D6D6;
	display: block;
	width: 101px;
	height: 84px;
}
#products .pagination li a img { width: 100%; }
#products .pagination li.current a { margin: 0; }
.images_3_of_2 {
	width: 45.2%;
	float: left;
	margin-right: 2.6%;
}
#container {
	margin: 0 auto;
	position: relative;
	z-index: 0;
}
#products_example { position: relative; }
#products .slides_container {
	width: 99.3333%;
	height: 295px;
	overflow: hidden;
	float: left;
	position: relative;
	border: 1px solid #F0F0F0;
	display: none;
}
#products .next, #products .prev {
	position: absolute;
	top: 90px;
	left: 5px;
	width: 21px;
	height: 0;
	padding-top: 21px;
	overflow: hidden;
	display: block;
	z-index: 101;
}
ul.breadcrumb {
	padding: 8px 15px;
	margin: 0 0 18px !important;
	list-style: none;
	background-color: #f7f7f7;
	font-size: 0.85em;
	color: #999 !important;
}
ul.breadcrumb a { color: #4CB1CA; }
ul.breadcrumb a:hover { color: #000; }
.desc1 {
	display: block;
	float: right;
}
.span_3_of_2 { width: 51.3333%; }
h3.m_3 {
	color: #555;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
p.m_5 {
	font-size: 1.8em;
	color: #555;
}
p.m_5 a {
	color: #777;
	font-size: 15px;
}
p.m_5 a:hover { color: #000; }
p.m_text {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
}
/*--thumbs--*/
.clients { padding-top: 6%; }
#jquery-script-menu {
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 5px solid #316594;
	background: #fff;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
	padding: 10px 0;
}
.jquery-script-center {
	width: 960px;
	margin: 0 auto;
}
.jquery-script-center ul {
	width: 212px;
	float: left;
	line-height: 45px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.jquery-script-center a { text-decoration: none; }
.jquery-script-ads {
	width: 728px;
	height: 90px;
	float: right;
}
.jquery-script-clear {
	clear: both;
	height: 0;
}
.clearout {
	height: 20px;
	clear: both;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 { display: none; }
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	/*--width:80%;--*/
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;/*--padding-right:50px;--*/
}
.nbs-flexisel-item > img {
	/*--width:60%;--*/
	cursor: pointer;
	positon: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 150px;
	max-height: 200px;
}
.nbs-flexisel-item a {
	color: #777;
	font-size: 1.2em;
}
.nbs-flexisel-item a:hover { color: #000; }
.nbs-flexisel-item p {
	color: #777;
	font-size: 0.85em;
	padding: 20px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 28px;
	height: 29px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.toogle { margin-top: 4%; }
ul.seller img {
	float: left;
	width: 38.5%;
	margin-right: 10px;
}
h5.m_4 { margin-bottom: 5px; }
h5.m_4 a {
	font-size: 0.85em;
	color: #555;
	text-transform: uppercase;
}
h5.m_4 a:hover { color: #000; }
.sell-desc {
	float: left;
	width: 57.5%;
}
p.m_text1 {
	color: #777;
	font-size: 0.85em;
}
p.m_price {
	color: #000;
	font-size: 0.9em;
	margin-top: 10px;
}
ul.seller li { margin-bottom: 20px; }
.span_1_of_single { width: 20.2%; }
.rsingle {
	display: block;
	float: left;
	margin: -1% 0 1% 2.6%;
}
.btn_form { padding: 4% 0; }
.btn_form form input[type="submit"] {
	font-family: "Lato-black";
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background: #4CB1CA;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form form input[type="submit"]:hover { background: #555; }
span.m_link { margin-bottom: 20px; }
span.m_link a {
	color: #555;
	font-size: 0.85em;
	text-decoration: underline;
	text-transform: uppercase;
}
span.m_link a:hover { text-decoration: none; }
p.m_text2 {
	color: #777;
	font-size: 0.85em;
	line-height: 1.8em;
	margin-top: 20px;
}
/*--out--*/

.quick-login-text { text-align: right; }
.social-ico-panel {
	float: left;
	text-align: left;
}
 @media (max-width:1366px) {
#products .pagination li a { width: 96px; }
#ResOuterbanner { display: none; }
.slide-social-Wrap { display: none; }
}
@media (max-width:1280px) {
#products .pagination li a { width: 89px; }
#ResOuterbanner { display: none; }
.slide-social-Wrap { display: none; }
}
@media (max-width:1024px) {
#products .pagination li a { width: 89px; }
.leftnavw { width: 27%!important; }
#tabscontent { width: 41%!important; }
#ResOuterbanner { display: none; }
.slide-social-Wrap { display: none; }
}
 @media only screen and (min-width : 960px) and (max-width : 1024px) {
.investee-navbar { display: block; }
.investee-navbar >li { padding: 12px 47px 10px 40px !important; }
.socia-links {
	width: 93%;
	margin: 0px auto;
}
#accordion-about { width: 95%!important; }
}
@media only screen and (min-width :800px) and (max-width : 959px) {
.investee-navbar { display: none; }
.socia-links {
	width: 93%;
	margin: 0px auto;
}
#accordion-about { width: 90%!important; }
}
 @media only screen and (min-width : 960px) and (max-width : 1024px) {
.investor-navbar { display: block; }
.investor-navbar >li { padding: 12px 25px 10px 20px!important; }
.socia-links {
	width: 93%;
	margin: 0px auto;
}
#accordion-about { width: 95%!important; }
.quick-login-text {
	text-align: right;
	float: left;
	width: 40%;
	padding-left: 30px;
}
.social-ico-panel {
	float: left!important;
	width: 100%;
	text-align: left;
}
.media-content{ width:76% !important; margin-top:108px !important;}
}
@media only screen and (min-width :800px) and (max-width : 959px) {
.investor-navbar { display: none; }
.socia-links {
	width: 93%;
	margin: 0px auto;
}
#accordion-about { width: 90%!important; }
.quick-login-text {
	text-align: right;
	float: left;
	width: 40%;
	padding-left: 30px;
}
.social-ico-panel {
	float: left!important;
	width: 100%;
	text-align: left;
}
.media-content{ width:76% !important; margin-top:108px !important;}
}
@media (max-width:800px) {
#products .pagination li a { width: 89px; }
#tabs {
	padding: 15px 0px!important;
	width: 100%!important;
}
#tabs > ul > li {
	margin: 0 2px 0 0;
	padding: 0 14px!important;
	border-right: 1px solid #d1d0d0;
}
.profile-basic { padding: 0px 10px!important; }
.leftnavw {
	width: 29%!important;
	margin-left: 20px!important;
}
#tabscontent { width: 42%!important; }
.tabpage { padding: 0px 10px!important; }
#ResOuterbanner { display: none; }
.slide-social-Wrap { display: none; }
.investor-navbar { display: none!important; }
.investee-navbar { display: none!important; }
.video-container iframe { width: 80%; }
.media-content{ width:75% !important; margin-top:97px !important;}
}
@media (max-width:768px) {
#ResOuterbanner { display: block !important; }
#tab-wrapper { display: none !important; }
.slide-social-Wrap { display: block !important; }
.investor-navbar { display: none!important; }
.investee-navbar { display: none!important; }
.video-container iframe { width: 80%; }
.media-content{ width:69% !important; margin-top:60px !important;}
}
@media (max-width:640px) {
.profile-basic {
	width: 100%;
	padding: 10px 15px !important;
}
.company-logo, .company-title, .company-investment, .company-offered, .company-validity, .company-commit {
	float: left;
	padding: 10px;
}
.company-logo {
	width: 30% !important;
	border-right: 1px solid #d1d0d0;
	margin-bottom: 10px;
}
.company-title { width: 50% !important; }
.company-investment {
	width: 23% !important;
	clear: both !important;
}
.company-offered {
	width: 20% !important;
	border-left: 1px solid #d1d0d0;
	border-right: 1px solid #d1d0d0;
}
.company-validity { width: 27% !important; }
.company-commit {
	width: 28% !important;
	border-left: 1px solid #d1d0d0;
}
.company-border { border-right: none !important; }
#tabs { width: 100% !important; }
#tabs > ul { list-style: none; }
#tabs > ul > li:first-child { border-left: none !important; }
#tabs > ul > li {
	float: left;
	padding: 10px !important;
	border-right: none !important;
}
.leftnavw {
	width: 91% !important;
	float: left;
	margin: 0px 10px !important;
}
#tabscontent {
	margin: 2px auto;
	width: 100% !important;
	padding: 0px 10px 5px 10px;
	display: block;
	float: left;
}
.tabpage { padding: 0px 5px !important; }
.content-infographic-rght {
	width: 47% !important;
	margin-top: 10px;
}
.video-img {
	margin: 0px auto;
	margin-top: 20px;
}
#ResOuterbanner { display: block !important; }
#tab-wrapper { display: none !important; }
.slide-social-Wrap { display: block !important; }
.investor-navbar { display: none!important; }
.investee-navbar { display: none!important; }
.owl-theme .owl-controls { margin-right: 0px !important; }
.video-container iframe { width: 100%; }
.media-img {
	float:none;
	clear:both;
	text-align:center !important;
	width:100%!important;
}
.media-content {
	float:none;
	clear:both;
	text-align:justify !important;
	margin:0 auto!important;
	width: 100%!important;
}
}
@media (max-width:480px) {
.profile-basic {
	width: 100%;
	padding: 0px 15px !important;
}
.company-logo, .company-title, .company-investment, .company-offered, .company-validity, .company-commit {
	float: left;
	padding: 10px;
}
.company-logo {
	width: 46% !important;
	border-right: 1px solid #d1d0d0;
	margin-bottom: 10px;
}
.company-title { width: 50% !important; }
.company-investment {
	width: 46% !important;
	clear: both !important;
}
.company-offered {
	width: 54% !important;
	border-right: none !important;
}
.company-validity {
	width: 46% !important;
	clear: both;
	margin: 10px 0px;
}
.company-commit {
	width: 41% !important;
	margin: 10px 0px;
}
.company-border { border-right: none !important; }
#tabs { width: 100% !important; }
#tabs > ul { list-style: none; }
#tabs > ul > li:first-child { border-left: none !important; }
#tabs > ul > li {
	float: left;
	padding: 10px !important;
	border-right: none !important;
}
.leftnavw {
	width: 91% !important;
	float: left;
	margin: 0px 10px !important;
}
#tabscontent {
	margin: 2px auto;
	width: 100% !important;
	padding: 0px 10px 5px 10px;
	display: block;
	float: left;
}
.tabpage { padding: 0px 5px !important; }
.content-infographic-rght {
	width: 100% !important;
	margin-top: 10px;
}
.video-img {
	margin: 0px auto;
	margin-top: 20px;
}
#ResOuterbanner { display: block !important; }
#tab-wrapper { display: none !important; }
.slide-social-Wrap { display: block !important; }
}
@media (max-width:320px) {
.profile-basic {
	width: 100%;
	padding: 0px 15px !important;
}
.company-logo, .company-title, .company-investment, .company-offered, .company-validity, .company-commit {
	float: left;
	padding: 10px;
}
.company-logo {
	width: 46% !important;
	border-right: 1px solid #d1d0d0;
	margin-bottom: 10px;
}
.company-title { width: 50% !important; }
.company-investment {
	width: 46% !important;
	clear: both !important;
	border-right: 1px solid #d1d0d0;
}
.company-offered {
	width: 54% !important;
	border-right: none !important;
}
.company-validity {
	width: 46% !important;
	clear: both;
	margin: 10px 0px;
	border-right: 1px solid #d1d0d0;
}
.company-commit {
	width: 41% !important;
	margin: 10px 0px;
}
.company-border { border-right: none !important; }
#tabs { width: 100% !important; }
#tabs > ul { list-style: none; }
#tabs > ul > li:first-child { border-left: none !important; }
#tabs > ul > li {
	float: left;
	padding: 10px !important;
	border-right: none !important;
}
.leftnavw {
	width: 91% !important;
	float: left;
	margin: 0px 10px !important;
}
#tabscontent {
	margin: 2px auto;
	width: 100% !important;
	padding: 0px 10px 5px 10px;
	display: block;
	float: left;
}
.tabpage { padding: 0px 5px !important; }
.content-infographic-rght {
	width: 100% !important;
	margin-top: 10px;
}
.video-img {
	margin: 0px auto;
	margin-top: 20px;
}
#ResOuterbanner { display: block !important; }
#tab-wrapper { display: none !important; }
.slide-social-Wrap { display: block !important; }
}
 @media only screen and (min-width:320px) and (max-width:480px) {
.investor-navbar { display: none!important; }
.investee-navbar { display: none!important; }
.quick-login-text {
	text-align: left!important;
	float: none;
	width: 100%;
	padding-left: 30px;
}
.social-ico-panel {
	float: none!important;
	width: 100%;
	text-align: left;
	padding-left: 17px!important;
}
.owl-theme .owl-controls { margin-right: 0px !important; }
.video-container iframe { width: 100%; }
.media-img {
	float:none;
	clear:both;
	text-align:center !important;
	width:100%!important;
}
.media-content {
	float:none;
	clear:both;
	text-align:justify !important;
	margin:0 auto!important;
	width: 100%!important;
}
}
 @media (max-width:1366px) {
#products .pagination li a { width: 96px; }
.to input[type="text"] { width: 47.9%; }
span.rollover {
	height: 205px;
	width: 240px;
}
.search input[type="text"] { width: 110px; }
.search input[type="text"]:focus { width: 132px; }
.like_box { width: 114%; }
}
@media (max-width:1280px) {
#products .pagination li a { width: 89px; }
.header-bottom-right { width: 32.5%; }
.to input[type="text"] { width: 47.7%; }
.search input[type="text"]:focus { width: 132px; }
}
@media (max-width:1024px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right { width: 31.5%; }
.to input[type="text"] { width: 47.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo { margin-right: 0%; }
.header-bottom-left { width: 66.5%; }
.search { margin: 5px 3px 0 0; }
ul.last { margin: 12px 0px 0 3px; }
h2.head { font-size: 1.5em; }
.btn a {
	left: 19px;
	padding: 10px 15px;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 55px; }
h2.m_1 { font-size: 1.3em; }
ul.f-list span.f-text { font-size: 1.2em; }
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 75px; }
span.rollover {
	height: 154px;
	width: 178px;
}
.text input[type="text"], .text textarea { width: 97.7%; }
.mens-toolbar .sort { width: 21.5%; }
.mens-toolbar .pager { width: 33.5%; }
.search input[type="text"]:focus { width: 65px; }
.span_1_of_f_1 { width: 100%; }
.col_1_of_f_1 {
	float: none;
	margin: 1% 0 1% 0;
}
.span_1_of_f_2 h3 { margin-bottom: 10px; }
.like_box { width: 73.5%; }
/*.investor-navbar{ display:none;}*/
	/*.investee-navbar{ display:none;}*/

.preference-1 { width: 33% !important; }
.preference-2 { width: 27% !important; }
.preference-3 { width: 25% !important; }
.preference-4 {
	width: 34% !important;
	margin: 20px 0px 0px 20px !important;
}
.preference-5 {
	width: 25% !important;
	margin: 20px 0px 0px 0px !important;
}
#save-preff {
	position: relative;
	/*top :431px !important;*/
	right: 0px !important;/*left:-370px !important;*/
}
.owl-theme .owl-controls { margin-right: 0px !important; }
}
@media (max-width:800px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right {
	width: 100%;
	float: none;
}
.to input[type="text"] { width: 46.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo { margin-right: 2.6%; }
.header-bottom-left {
	width: 100%;
	float: none;
}
.search { margin: 5px 10px 0 0; }
ul.last { margin: 12px 0px 0 10px; }
h2.head { font-size: 1.5em; }
.btn a {
	left: 12px;
	padding: 6px 8px;
	top: -75px;
	font-size: 0.85em;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 110px; }
h2.m_1 { font-size: 1em; }
ul.f-list span.f-text {
	font-size: 0.95em;
	margin-top: 29px;
}
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 57px; }
span.rollover {
	height: 122px;
	width: 141px;
}
.text input[type="text"], .text textarea { width: 96.7%; }
.cssmenu ul li a { margin: 5px; }
.cssmenu-right ul li a { margin: 5px; }
.cssmenu { margin-top: 3px; }
.cart-left { width: 70.5%; }
span.reducedfrom { margin-right: 2%; }
.mens-toolbar .sort { width: 27.5%; }
.mens-toolbar .pager { width: 43.5%; }
.tag-list { margin-left: 38.5%; }
.span_1_of_f_1 { width: 100%; }
.col_1_of_f_1 {
	float: none;
	margin: 1% 0 1% 0;
}
.span_1_of_f_2 h3 { margin-bottom: 10px; }
}
@media (max-width:768px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.to input[type="text"] { width: 45.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo {
	margin-right: 0;
	float: none;
	text-align: center;
	margin-top: 10px;
}
.menu {
	float: none;
	margin-top: 6px;
}
.header-bottom-left {
	width: 100%;
	float: none;
}
.search { margin: 5px 10px 0 0; }
ul.last { margin: 12px 0px 0 10px; }
h2.head { font-size: 1.5em; }
.btn a {
	left: 12px;
	padding: 6px 8px;
	top: -75px;
	font-size: 0.85em;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 110px; }
h2.m_1 { font-size: 1em; }
ul.f-list span.f-text {
	font-size: 0.95em;
	margin-top: 29px;
}
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 64px; }
span.rollover {
	height: 148px;
	width: 173px;
}
.text input[type="text"], .text textarea { width: 95.7%; }
.cssmenu ul li a { margin: 5px; }
.cssmenu {
	margin-top: 0px;
	float: none;
	float: right;
}
.cssmenu-right {
	margin-top: 0px;
	float: none;
	float: right;
}
.cart-left { width: 70.5%; }
span.reducedfrom { margin-right: 2%; }
.header-top-left {
	width: 100%;
	float: none;
}
.box {
	float: left;
	width: 65.5%;
	margin-right: 10.6%;
}
.box1 {
	float: left;
	width: 20.5%;
}
.tag-list { margin-left: 46.5%; }
.span_2_of_3 { width: 100%; }
.cont { float: none; }
.span_1_of_left { width: 45%; }
.rsidebar {
	float: none;
	margin: 2.7% 0 1% 0;
}
.border { margin-bottom: 10%; }
.span_1_of_2 { width: 100%; }
.col_1_of_2 {
	float: none;
	margin: 0;
}
.copy {
	float: none;
	margin-bottom: 10px;
}
.f-list2 { float: none; }
.footer-bottom { text-align: center; }
.rsingle {
	float: none;
	margin: 0% 0 1% 0%;
}
.span_1_of_single { width: 100%; }
.mens-toolbar .sort { width: 26.5%; }
.mens-toolbar .pager { width: 41.5%; }
.span_1_of_about { width: 100%; }
.labout {
	float: none;
	margin: 1% 0 1% 0;
}
.span_2_of_about { width: 100%; }
.span_1_of_login { width: 100%; }
.col_1_of_login {
	float: none;
	margin: 1% 0 1% 0%;
}
.preference-1 {
	width: 93% !important;
	float: left;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-1 ul { list-style: none; }
.preference-1 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-2 {
	width: 93% !important;
	float: left!important;
	margin: 0px auto;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-2 ul { list-style: none; }
.preference-2 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-3 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-3 ul { list-style: none; }
.preference-3 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-4 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-4 ul { list-style: none; }
.preference-4 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-5 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-5 ul { list-style: none; }
.preference-5 li {
	padding: 0px;
	float: left;
	width: 50%;
}
/*
	#save-preff {
		position: relative;
		top :0px !important;
		right: 0px !important;
		left:30px;
	}
	*/	
.quick-login-text {
	text-align: left!important;
	float: left;
	width: 40%;
	padding-left: 30px;
}
.social-ico-panel {
	float: left!important;
	width: 60%;
	text-align: left;
}
}
@media (max-width:640px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.to input[type="text"] { width: 45.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo {
	margin-right: 0;
	float: none;
	text-align: center;
	margin-top: 10px;
}
.menu {
	float: none;
	margin-top: 6px;
}
.header-bottom-left {
	width: 100%;
	float: none;
}
.search { margin: 5px 10px 0 0; }
ul.last { margin: 12px 0px 0 10px; }
h2.head { font-size: 1.5em; }
.btn a {
	left: 12px;
	padding: 6px 8px;
	top: -75px;
	font-size: 0.85em;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 110px; }
h2.m_1 { font-size: 1em; }
ul.f-list span.f-text {
	font-size: 0.95em;
	margin-top: 29px;
}
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 64px; }
span.rollover {
	height: 148px;
	width: 173px;
}
.text input[type="text"], .text textarea { width: 95.7%; }
.cssmenu ul li a { margin: 5px; }
.cssmenu {
	margin-top: 0px;
	float: none;
	float: right;
}
.cart-left { width: 70.5%; }
span.reducedfrom { margin-right: 2%; }
.header-top-left {
	width: 100%;
	float: none;
}
.box {
	float: left;
	width: 65.5%;
	margin-right: 10.6%;
}
.box1 {
	float: left;
	width: 20.5%;
}
.tag-list { margin-left: 30.5%; }
.span_2_of_3 { width: 100%; }
.cont { float: none; }
.span_1_of_left { width: 45%; }
.rsidebar {
	float: none;
	margin: 2.7% 0 1% 0;
}
.border { margin-bottom: 10%; }
.span_1_of_2 { width: 100%; }
.col_1_of_2 {
	float: none;
	margin: 0;
}
.copy {
	float: none;
	margin-bottom: 10px;
}
.f-list2 { float: none; }
.footer-bottom { text-align: center; }
.rsingle {
	float: none;
	margin: 0% 0 1% 0%;
}
.span_1_of_single { width: 100%; }
.mens-toolbar .sort { width: 26.5%; }
.mens-toolbar .pager { width: 41.5%; }
.span_1_of_about { width: 100%; }
.labout {
	float: none;
	margin: 1% 0 1% 0;
}
.span_2_of_about { width: 100%; }
.span_1_of_login { width: 100%; }
.col_1_of_login {
	float: none;
	margin: 1% 0 1% 0%;
}
.preference-1 {
	width: 93% !important;
	float: left;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-1 ul { list-style: none; }
.preference-1 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-2 {
	width: 93% !important;
	float: left!important;
	margin: 0px auto;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-2 ul { list-style: none; }
.preference-2 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-3 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-3 ul { list-style: none; }
.preference-3 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-4 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-4 ul { list-style: none; }
.preference-4 li {
	padding: 0px;
	float: left;
	width: 50%;
}
.preference-5 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 0px 15px 10px !important;
}
.preference-5 ul { list-style: none; }
.preference-5 li {
	padding: 0px;
	float: left;
	width: 50%;
}
/*
	#save-preff {
		position: relative;
		top :0px !important;
		right: 0px !important;
		left:30px;
	}
	*/

.quick-login-text {
	text-align: left!important;
	float: left;
	width: 50%;
	padding-left: 30px;
}
.social-ico-panel {
	float: left!important;
	width: 45%;
	text-align: left;
}
}
@media (max-width:480px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.to input[type="text"] { width: 43.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo {
	margin-right: 0;
	float: none;
	text-align: center;
	margin-top: 10px;
}
.menu {
	float: none;
	margin-top: 6px;
}
.header-bottom-left {
	width: 100%;
	float: none;
}
.search { margin: 5px 10px 0 0; }
ul.last { margin: 12px 0px 0 10px; }
h2.head { font-size: 1.5em; }
.btn a {
	left: 12px;
	padding: 6px 8px;
	top: -75px;
	font-size: 0.85em;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 110px; }
h2.m_1 { font-size: 1em; }
ul.f-list span.f-text {
	font-size: 0.95em;
	margin-top: 29px;
}
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 64px; }
span.rollover {
	height: 109px;
	width: 128px;
}
.text input[type="text"], .text textarea { width: 93.7%; }
.cssmenu ul li a { margin: 5px; }
.cssmenu {
	margin-top: 0px;
	float: none;
	text-align: center;
	float: right;
}
.cart-left { width: 70.5%; }
span.reducedfrom { margin-right: 2%; }
.header-top-left {
	width: 100%;
	float: none;
}
.box {
	float: left;
	width: 65.5%;
	margin-right: 10.6%;
}
.box1 {
	float: left;
	width: 20.5%;
}
.tag-list { margin-left: 9.5%; }
.span_2_of_3 { width: 100%; }
.cont { float: none; }
.span_1_of_left { width: 45%; }
.rsidebar {
	float: none;
	margin: 2.7% 0 1% 0;
}
.border { margin-bottom: 10%; }
.span_1_of_2 { width: 100%; }
.col_1_of_2 {
	float: none;
	margin: 0;
}
.copy {
	float: none;
	margin-bottom: 10px;
}
.f-list2 { float: none; }
.footer-bottom { text-align: center; }
.rsingle {
	float: none;
	margin: 0% 0 1% 0%;
}
.span_1_of_single { width: 100%; }
.mens-toolbar .sort { width: 26.5%; }
.mens-toolbar .pager { width: 41.5%; }
.span_1_of_about { width: 100%; }
.labout {
	float: none;
	margin: 1% 0 1% 0;
}
.span_2_of_about { width: 100%; }
.span_1_of_login { width: 100%; }
.col_1_of_login {
	float: none;
	margin: 1% 0 1% 0%;
}
.span_1_of_3 { width: 100%; }
.col_1_of_3 {
	float: none;
	margin: 1% 0 1% 0%;
}
.images_3_of_2 {
	width: 100%;
	float: none;
	margin-right: 0;
}
.span_3_of_2 { width: 100%; }
.desc1 { float: none; }
.f-list2 li { margin: 0 4px; }
.span_1_of_f_2 { width: 100%; }
.col_1_of_f_2 {
	float: none;
	margin: 1% 0 1% 0;
}
.preference-1 {
	width: 86% !important;
	float: left;
	padding: 0px 15px;
	margin: 0px 10px 15px 15px !important;
}
.preference-1 ul { list-style: none; }
.preference-1 li {
	padding: 0px;
	float: none !important;
	width: 100% !important;
}
.preference-2 {
	width: 86% !important;
	float: none;
	margin: 0px auto;
	padding: 0px 15px;
	margin: 0px 10px 15px 15px;
}
.preference-2 ul { list-style: none; }
.preference-2 li {
	padding: 0px;
	float: none !important;
	width: 100% !important;
}
.preference-3 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 10px 15px 15px;
}
.preference-3 ul { list-style: none; }
.preference-3 li {
	padding: 0px;
	float: none !important;
	width: 100% !important;
}
.preference-4 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 10px 15px 15px;
}
.preference-4 ul { list-style: none; }
.preference-4 li {
	padding: 0px;
	float: none !important;
	width: 100% !important;
}
.preference-5 {
	width: 86% !important;
	float: none;
	padding: 0px 15px;
	margin: 0px 10px 15px 15px;
}
.preference-5 ul { list-style: none; }
.preference-5 li {
	padding: 0px;
	float: none !important;
	width: 100% !important;
}
/*
	#save-preff {
		position: relative;
		top :0px !important;
		right: 0px !important;
		left:30px;
	}
	*/

}
@media (max-width:320px) {
.wrap { width: 90%; }
#products .pagination li a { width: 89px; }
.header-bottom-right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.to input[type="text"] { width: 40.2%; }
.megamenu>li>a { padding: 8px 5px; }
.logo {
	margin-right: 0;
	float: none;
	text-align: center;
}
.menu {
	float: none;
	margin-top: 6px;
}
.header-bottom-left {
	width: 100%;
	float: none;
}
.search { margin: 5px 10px 0 0; }
ul.last { margin: 12px 0px 0 10px; }
h2.head { font-size: 1.2em; }
.btn a {
	left: 12px;
	padding: 6px 8px;
	top: -75px;
	font-size: 0.85em;
}
p.title a { font-size: 1em; }
.search input[type="text"] { width: 55px; }
h2.m_1 { font-size: 1em; }
ul.f-list span.f-text {
	font-size: 11px;
	margin-top: 29px;
}
.span_1_of_4 { width: 100%; }
.col_1_of_4 {
	float: none;
	margin: 1% 0 1% 0%;
}
.icon1 ul { top: 64px; }
span.rollover {
	height: 109px;
	width: 128px;
}
.text input[type="text"], .text textarea { width: 90.7%; }
.cssmenu ul li a { margin: 8px 0; }
.cssmenu {
	margin-top: 0px;
	float: none;
	text-align: center;
}
.cart-left { width: 70.5%; }
span.reducedfrom { margin-right: 2%; }
.header-top-left {
	width: 100%;
	float: none;
}
.box {
	float: left;
	width: 47.5%;
	margin-right: 10.6%;
}
.box1 {
	float: left;
	width: 20.5%;
}
.tag-list { margin-left: 0%; }
.span_2_of_3 { width: 100%; }
.cont { float: none; }
.span_1_of_left { width: 70%; }
.rsidebar {
	float: none;
	margin: 2.7% 0 1% 0;
}
.border { margin-bottom: 10%; }
.span_1_of_2 { width: 100%; }
.col_1_of_2 {
	float: none;
	margin: 0;
}
.copy {
	float: none;
	margin-bottom: 10px;
}
.f-list2 { float: none; }
.footer-bottom { text-align: center; }
.rsingle {
	float: none;
	margin: 0% 0 1% 0%;
}
.span_1_of_single { width: 100%; }
.mens-toolbar .sort { width: 26.5%; }
.mens-toolbar .pager { width: 41.5%; }
.span_1_of_about { width: 100%; }
.labout {
	float: none;
	margin: 1% 0 1% 0;
}
.span_2_of_about { width: 100%; }
.span_1_of_login { width: 100%; }
.col_1_of_login {
	float: none;
	margin: 1% 0 1% 0%;
}
.span_1_of_3 { width: 100%; }
.col_1_of_3 {
	float: none;
	margin: 1% 0 1% 0%;
}
.images_3_of_2 {
	width: 100%;
	float: none;
	margin-right: 0;
}
.span_3_of_2 { width: 100%; }
.desc1 { float: none; }
.f-list2 li { margin: 0 4px; }
.icon1 ul {
	right: -120px;
	width: 275px;
}
ul.f-list img { margin-right: 0; }
.span_1_of_about-box { width: 100%; }
.col_1_of_about-box {
	float: none;
	margin: 1% 0 1% 0%;
}
.dropdown { width: 90px; }
h3.m_3 { font-size: 1em; }
p.m_5 { font-size: 1.4em; }
}
.bottom-footer li span { color: #fff; }
.bottom-footer .col-sm-12 { border-top: 1px solid #195BB2; }
.bottom-footer li {
	display: block;
	color: #6a6a6a;
	padding: 10px 0;
}
.top-left {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.bottom-left {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.content-box2 {
	background: #fff;
	border-radius: 10px;
	padding: 15px 15px;
	font-size: 13px;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	-moz-box-shadow: 1px 3px 1px #ccc;
	box-shadow: 1px 3px 1px #ccc;
}
.content-box {
	background: #fff;
	border-radius: 10px;
	padding: 15px 15px;
	font-size: 13px;
	width: 97%;
	margin: 0 auto 20px auto;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	-moz-box-shadow: 1px 3px 1px #ccc;
	box-shadow: 1px 3px 1px #ccc;
}
.register-box {
	background: none repeat scroll 0 0 #fff;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 20px;
	min-height: 480px;
	padding-top: 20px;
}
.login-box {
	min-height: 360px;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
	padding-top: 20px;
	font-size: 14px;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	;
	-moz-box-shadow: 1px 3px 1px #ccc;
	;/* box-shadow: 1px 3px 1px #ccc; */
}
.profile-box {
	min-height: 301px;
	background: #fff;
	border-radius: 10px;
	margin: 0 15px 15px 0px;
	padding-top: 20px;
	font-size: 14px;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	;
	-moz-box-shadow: 1px 3px 1px #ccc;
	;/* box-shadow: 1px 3px 1px #ccc; */
}
.user-info { overflow: auto; }
.user-image {
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: top;
}
.user-image img {
	max-height: 90px;
	max-width: 90px;
}
.user-name {
	color: #04469f;
	font-size: 16px;
}
.user-location { font-size: 13px; }
.user-rating { margin-top: 10px; }
.user-bio {
	height: 55px;
	padding: 15px;
	text-align: left;
}
.user-investment {
	background-color: #edebe7;
	margin: 10px 2px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
}
.user-interests span { margin: 5px 0; }
.user-sectors { margin-bottom: 10px; }
.deal-location {
	color: #808080;
	font-size: 12px;
	text-transform: capitalize;
	height: 15px;
}
.user-location {
	color: #484848;
	font-size: 13px;
	text-overflow: ellipsis;
	line-height: 20px;
}
.user-info-border {
	border-bottom: 1px solid #e2e2e2;
	width: 80%;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.more-image {
	width: 43px;
	height: 15px;
	margin: 0px auto;
	margin-top: 10px;
}
.investor-nav, .investee-nav {
	border-top: 1px solid #d1d0d0;
	border-bottom: 1px solid #d1d0d0;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	;
	-moz-box-shadow: 1px 3px 1px #ccc;
	;
	box-shadow: 1px 3px 1px #ccc;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(51%, #e2e2e2), color-stop(100%, #cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 51%, #cecece 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece', GradientType=0 ); /* IE6-9 */
}
.investor-navbar >li {
	float: left;
	padding: 12px 40px 10px 20px;
	list-style: none;
	height: 40px;
	font-size: 14px;
}
.investee-navbar >li {
	float: left;
	padding: 12px 60px 10px 50px;
	list-style: none;
	height: 40px;
	font-size: 14px;
}
.investor-nav a, .investee-nav a { }
.link-active a {
	font-weight: normal!important;
	border-bottom: 3px solid #04469f;
}
.investor-nav ul a, .investee-nav ul a {
	display: block;
	color: #2d2d2d;
}
.search-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url('../images/sprite.png') no-repeat -128px -10px;
}

#Searchfilelds {
	padding: 20px 0px;
	margin: 0px auto;
	display: none;
	border-top: 1px solid #cfcfcf;
}
.form-input {
	height: 30px;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	border-radius: 3px;
	font-size: 14px;
	padding: 2px 5px 2px 10px;
	border: 1px solid #bbb;
}
.form-area {
	height: 95px;
	margin-bottom: 10px;
}
.search-input {
	float: left;
	margin-right: 12px;
}
.select-style {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;/*background: url("../images/icon-select.png") no-repeat scroll 98% 50%;*/
}
.select-style select {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	padding: 7px 8px;
	width: 100%;
}
.search-input .select-style { background-color: #fff; }
.search-bar select { width: 150px; }
.search-btn {
	background: none repeat scroll 0 0 #96F500;
	border: 0 none;
	border-radius: 15px;
	box-shadow: 2px 3px 0 #959595;
	height: 30px;
	width: 80px;
	font-size: 14px;
	color: #517205;
	cursor: pointer;
}
.search-btn:hover { color: #333; }


/*colorbox*/
.pop-content { padding-bottom: 10px; }
.pop-content .form-header {
	color: #04469f;
	font-size: 2em;
}
.pop-content .sendto { padding: 10px 0; }
.pop-content .askexpert { margin-left: 15px; }
.pop-content .subscribe-line {
	font-size: 0.8em;
	margin-bottom: 9px;
	text-align: right;
}
.deal-single .deal-logo { overflow: hidden; }
.preferenceOuter {
	background: #fff;
	border-radius: 10px;
	padding: 40px 0;
	font-size: 13px;
	margin : 0 20px 20px 20px;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	-moz-box-shadow: 1px 3px 1px #ccc;
	box-shadow: 1px 3px 1px #ccc;
}
.preference-1 {
	width: 21%;
	float: left;
	padding: 0px 15px;
	margin: 0px 10px 0px 15px;
}
.preference-heading { font-weight: 600; }
.preference-1 ul { list-style: none; }
.preference-1 li { padding: 0px; }
.preference-2 {
	width: 18%;
	float: left;
	padding: 0px 15px;
}
.preference-2 ul { list-style: none; }
.preference-2 li { padding: 0px; }
.preference-3 {
	width: 18%;
	float: left;
	padding: 0px 15px;
}
.preference-3 ul { list-style: none; }
.preference-3 li { padding: 0px; }
.preference-4 {
	width: 18%;
	float: left;
	padding: 0px 15px;
}
.preference-4 ul { list-style: none; }
.preference-4 li { padding: 0px; }
.preference-5 {
	width: 18%;
	float: left;
	padding: 0px 15px;
}
.preference-5 ul { list-style: none; }
.preference-5 li { padding: 0px; }
.radio, .checkbox {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
}
.radio, .checkbox label { line-height: 20px; }
/*
#save-preff {
	position: relative;
	top :55px;
	right: 300px;
}
*/
.radio, .checkbox {
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
}
.radio, .checkbox label { line-height: 20px; }
.portfolio-image:hover .change-img, .user-image:hover .change-img, .company-image:hover .change-img { display: block; }
.change-img {
	background: none repeat scroll 0 0 #000;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 12px;
	left: 23px;
	position: absolute;
	text-align: center;
	width: 63%;
	z-index: 10;
}
.user-image .change-img {
	bottom: 15px;
	left: 15px;
	width: 77%;
}
.company-image .change-img, .user-image .change-img {
	bottom: 5px;
	left: 15px;
	width: 77%;
}
.portfolio-image .change-img {
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.account-setting { min-height: 10px; }
.deal-single .deal-funds .funds-bar .progress-bar-success { height: 10px; }
.company-image img {
	max-height: 80px;
	max-width: 80px;
}
.company-image {
	height: 80px;
	position: relative;
}
.portfolio-image {
	position: relative;
	border: 1px solid #bbb;
}
.user-image { position: relative; }
.dashboard-links span {
	display: inline-block;
	float: left;
	height: 35px;
	width: 35px;
}
.dashboard-links { line-height: 30px; }
.dashboard-links .interest-icon { background: url("../images/sprite.png") no-repeat scroll -164px -46px rgba(0, 0, 0, 0); }
.dashboard-links .investor-icon { background: url("../images/sprite.png") no-repeat scroll -204px -46px rgba(0, 0, 0, 0); }
.dashboard-links .track-icon { background: url("../images/sprite.png") no-repeat scroll -122px -46px rgba(0, 0, 0, 0); }
.dashboard-links .similar-icon { background: url("../images/sprite.png") no-repeat scroll -84px -46px rgba(0, 0, 0, 0); }
.privacy-options {
	position: absolute;
	right: 44px;
	top: -4px;
}
.privacy-icon {
	float: right;
	margin-right: 5px;
	cursor: pointer;
}
.rupee-placeholder {
	background-color: #e0e0e0;
	border-radius: 3px;
	color: #a1a1a1;
	font-size: 88%;
	height: 28px;
	left: 16px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 1px;
}
.rupee-input { padding-left: 45px; }
.rupee-placeholder img {
	margin-top: 7px;
	margin-left: -4px;
	max-width: 20px;
}
.calender { background: url("../images/calender.png") no-repeat scroll 0px 1px rgba(0, 0, 0, 0); }
.block-title {/*padding-left: 7px;*/ }
.notification-action-btns {
	float: left;
	margin: 10px;
}
.notification .small-msg { margin: 10px 0; }
#Outerbanner { min-height: 115px; }
.semi_active {
	height: 100%;
	padding: 0px;
}
.semi_active img {
	right: -16px;
	top: 15px;
	position: absolute;
}
.semi_active_view img {
	right: -30px;
	top: 0px;
	position: absolute;
}
.platform-legend {
	float: right;
	margin-left: 5px;
}
.platform-stat-title {
	float: left;
	margin-top: 5px;
	text-align: right;
	width: 100%;
}
.platform-stat-divide { border-right: 2px dotted #ccc; }
.content-main {
	margin: 0 auto;
	max-width: 1440px;
	position: relative;
	z-index: 2;
}
.chart-container:after {
	content: "";
	display: table;
}
.chart-container {/*background-color: #fff;*/ margin: 0 auto; }
.features .article { padding: 20px; }
.features h3 {
	font-size: 32px;
	margin: 40px 0 60px;
}
.badge {
	background-color: #ebcb8b;
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	margin-left: 4px;
	padding: 4px 8px;
	vertical-align: top;
}
.labeled-chart-container {
	min-height: 180px;
	padding-right: 150px;
	position: relative;
}
.canvas-holder {
	margin: 20px 0;
	padding: 4px 0;
	position: relative;
}
.doughnut-legend {
	list-style: outside none none;
	position: absolute;
	right: -18px;
	top: 3px;
}
.features p {
	font-size: 18px;
	line-height: 28px;
	margin: 20px 0;
	text-align: center;
}
.doughnut-legend li {
	border-radius: 5px;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin-bottom: 4px;
	padding: 2px 8px 2px 28px;
	position: relative;
	transition: background-color 200ms ease-in-out 0s;
}
.doughnut-legend li:hover { background-color: #fafafa; }
.doughnut-legend li span {
	border-radius: 5px;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}
#hiw-investee.grey-font {
	font-weight: 900 !important;
	color: #000000;
}
#hiw-investor.grey-font {
	font-weight: 900 !important;
	color: #000000;
}
.accordion-aboutOuter {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 3px 3px 0 #ccc;
	padding: 20px 0;
}
#accordion-about {
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: 10px 0px;
}
.collapsible-about, .page_collapsible-about, .accordion-about {
	color: #728ac7;
	cursor: pointer;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 6px;
	text-align: left;
	text-decoration: none;
}
#investor-faq, #investee-faq { margin: 10px 0px; }
.investor-faq, .investee-faq {
	color: #728ac7;
	cursor: pointer;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 6px;
	text-align: left;
	text-decoration: none;
}
#investor-faq h5, #investee-faq h5 {
	color: #333333;
	font-weight: 600;
	line-height: 20px !important;
	padding: 5px 6px;
	text-transform: uppercase;
}
#accordion-about h5 {
	/*border-bottom: 1px solid #cccccc;*/
	color: #333333;
	font-weight: 600;
	line-height: 20px !important;
	padding: 10px 6px;
	text-transform: uppercase;
}
#accordion-about h5.first {
	border-radius: 10px 10px 0 0;
	color: #333333;
	line-height: 20px !important;
	padding: 10px 6px;
}
#accordion-about h5.last {
	border-radius: 0 0 10px 10px;
	color: #333333;
	line-height: 20px !important;
	padding: 10px 6px;
}
.accordion-open-about, .collapse-open-about, .collapse-open-faq { color: #777777; }
.accordion-open-about span, .collapse-open-about span {
	display: block;
	float: left;
	padding: 20px;
}
.accordion-open-about span, .collapse-open-about span, .collapse-open-faq span {
	background: url("../images/minus.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	display: block;
	float: left;
	padding: 5px 10px 14px 18px;
}
.accordion-close-about span, .collapse-close-about span, .collapse-close-faq span {
	background: url("../images/plus.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	display: block;
	float: left;
	padding: 5px 10px 14px 18px;
}
div.containers {
	margin: 0;
	padding: 0;
}
div.border-bottom { border-bottom: 1px solid #cccccc; }
div.content-about {
	color: #4a4a4a;
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 10px;
	text-align: left;
}
div.content-about ul, div.content-about p {
	margin: 0;
	padding: 6px;
}
div.content-about ul { padding: 0 25px; }
div.content-about ul li { list-style: outside none disc; }
div.content-about ol { padding: 0 25px; }
div.content-about ol li { list-style: outside none decimal; }
.download-request-link {
	color: #04469f;
	cursor: pointer;
}
.slick-slider {
	display: block;
	position: relative;
}
.tab-active a { color: #000000; }
.content-text b, .content-text strong { font-weight: bold; }
.media-img {
	float: left;
	text-align: left;
	margin: 0 0 10px 0;
	/*width:17%;*/
}
.media-content {
	float: right;
	text-align: left;
	width: 81%;
	margin-top:150px;
}
.mL20 { margin-left: 20px; }
