@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Roman.otf')  format('opentype'),
	     url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Md.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaLTStd-Bold.otf')  format('opentype'),
       url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), url('../fonts/HelveticaLTStd-Bold.ttf')  format('truetype'), url('../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{ font-family: 'HelveticaNeueLTStd-Roman'; color: #504e4b;
}
a, a:hover, a:active, a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{ outline: 0; }
h1,h2,h3,h4,h5,h6{ color: #504e4b}

/** Scrollbar css**/
/*.accordion-inner{
  scrollbar-base-color: #03469f;
  scrollbar-3dlight-color: #03469f;
  scrollbar-highlight-color: #03469f;
  scrollbar-track-color: #eee;
  scrollbar-arrow-color: #03469f;
  scrollbar-shadow-color: #03469f;
  scrollbar-dark-shadow-color: #03469f;
}

.accordion-inner::-webkit-scrollbar {width: 8px;}
.accordion-inner::-webkit-scrollbar-button { width: 8px; height:1px;}
.accordion-inner::-webkit-scrollbar-track { background:#eee; border: thin solid #ffffff; box-shadow: 0px 0px 3px #ffffff inset; border-radius:10px;}
.accordion-inner::-webkit-scrollbar-thumb { background:#03469f; border: thin solid #03469f; border-radius:10px;}
.accordion-inner::-webkit-scrollbar-thumb:hover { background:#03469f;}*/


/**************************** COMMON CLASSES ***************/

.remove_margin { margin-left: 0; margin-right: 0;}
.remove_padding { padding-left: 0; padding-right: 0;}
.remove_left_padding {padding-left: 0}
.remove_right_padding {padding-right: 0}
.st-container{ padding-top: 80px;}
.section-title, .page-title{ font-family: 'HelveticaNeueLTStd-Md'; font-size: 1.786em; color: #504e4b; margin: 1.5em 0 0.7em 0;}
.page-title2{font-family: 'HelveticaNeueLTStd-Md'; font-size: 1.786em; color: #504e4b; margin-top: 0; margin-bottom: 24px;}
.section-link{ font-size: 0.480em; font-family: 'HelveticaNeueLTStd-Roman';}
.section-link a{ color: #8c877f; text-decoration: underline;}
.section-link a:hover{ text-decoration: none;}
.full-width{ width: 100%; }

.btn-eq-common,.btn-eq-grey,.btn-eq-green{ background-color: #04469F; border-color: #1281e7;  color: #fff; text-transform: uppercase; font-weight: bold; white-space:inherit;} 
.btn-eq-common:hover,.btn-eq-common:focus{background-color: #04469F; border-color: #0374dc; color: #fff}
.btn-eq-grey{ background-color: #8c877f; border-color: #8c877f; }
.btn-eq-grey:hover,.btn-eq-grey:focus{ background-color: #6a6968; border-color: #6a6968; color: #fff }
.btn-eq-green{ background-color: #4caf50; border-color: #4caf50; }
.btn-eq-green:hover,.btn-eq-green:focus{ background-color: #318934; border-color: #318934; color: #fff }
.btn-eq-small{ font-size: 0.857em}
.box-bottom-shadow{ -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5); -moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5); box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);}

.image-box-outer { width: 100%; display: inline-block; position: relative;}
.image-box-outer:after{display: block; content: '';}
.image-box-inner{ position: absolute; top: 0; bottom: 0; right: 0; left: 0; white-space: nowrap; overflow: hidden; text-align: center;}
.image-box-inner:before{content: inherit; display: inline-block; height: 100%; vertical-align: middle; white-space: normal}
.image-box-inner img {vertical-align: middle; display: inline-block !important; height: 100%; width: auto !important; max-width: none;}
.square-image-outer{ padding-top: 100%}
.three-by-five-image-outer {padding-top: 60.0%}
.angel_fund_logo > div > img {border-radius: 0px !important; border:none !important;}

.vertical-align-parent-box {white-space: nowrap;}
.vertical-align-parent-box:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.25em;}
.vertical-align-child-box {display: inline-block; vertical-align: middle; float: none;}

/* bootstrap class override */
.form-control{ border: 1px solid #d9d9d9}
.form-control:focus{ box-shadow:none; border: 1px solid #d9d9d9}
.my-modal-backdrop{ background: url(../images/popup_bg.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.my-modal-backdrop.in{ opacity: 1;}
#accordion h4.panel-title a{ display: block; text-decoration: none;}

/* vertical alignment styles */
.col-top { vertical-align: top;}
.col-middle { vertical-align: middle;}
.col-bottom { vertical-align: bottom;}

/* columns of same height styles *******************************************************************
http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
.row-full-height { height: 100%;}
.col-full-height { height: 100%; vertical-align: middle;}
.row-same-height { display: table; width: 100%;  /* fix overflow */ table-layout: fixed;}
.col-xs-height { display: table-cell; float: none !important;}

@media (min-width: 768px) { .col-sm-height { display: table-cell; float: none !important; } }
@media (min-width: 992px) { .col-md-height { display: table-cell; float: none !important; } }
@media (min-width: 1200px) {.col-lg-height { display: table-cell; float: none !important; }}


/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


/***************************** custom check box and radio css ********************************************/

.custom-checkbox{ width: 20px; height: 20px; display: inline-block; position: relative; z-index: 1; top: 5px; background: url("../images/checkbox-sprite.png") no-repeat 0 0 transparent; margin-right: 10px; }
.custom-checkbox:hover{ background-position: 0 -20px; }
.custom-checkbox.selected{ background-position: 0 -40px;}
.custom-checkbox input[type="checkbox"]{ margin: 0; position: absolute; z-index: 2; cursor: pointer; outline: none; opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;}

.radio { }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 10px;
      height: 10px;
      left: 5px;
      top: 5px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #1281e7;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      
      }
      .radio input[type="radio"]:checked + label::before {  border-color: #1281e7}
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }

#radio-inline .radio-inline { margin-top: 0}        


 /************************************ HEADER  **************************************************/

.navbar-inverse{ background: #fff; border:none;
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
z-index: 1040;
}
.navbar-header{ padding: 20px 22px  20px 0}
.navbar-nav{ padding: 19px 0}
.navbar-inverse .navbar-nav > li > a{ font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b; font-size: 1.143em; position: relative; }
.navbar-inverse .navbar-left > li > a:after{ position: absolute; content: ""; right: 0; top: 20%; height: 60%; width: 1px; border-right: 1px solid #dad7d1;}
.navbar-inverse .navbar-left > li:last-child > a:after{ border-right: none;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li.active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{color: #03469f; background: none}
.navbar-inverse .navbar-right > li > a{ color: #03469f; padding-left: 5px; padding-right: 5px;}
.navbar-inverse .navbar-right > li > a:hover{color: #504e4b}
.navbar-inverse .navbar-right > li > .login-or{ padding-left: 0; padding-right: 0; cursor: default}
.navbar-inverse .navbar-right > li > .login-or:hover,.navbar-inverse .navbar-right > li > .login-or:hover{color: #03469f}
.navbar-inverse .navbar-nav > li > a .badge{ background: #4caf50}
.navbar-inverse .navbar-nav > .open > a{ background: none !important; color: #2c2d2d !important}
.navbar-inverse .navbar-right > li.logged-in > a { color: #2c2d2d; padding-top: 10px; padding-bottom: 10px;}
.navbar-inverse .navbar-right > li > .dropdown-menu:before{ position: absolute; content: ""; right: 9px; top: -11px; width: 0; height: 0; border-style: solid; border-width: 0 11px 11px; border-color: transparent transparent #d9d9d9 transparent;}
.navbar-inverse .navbar-right > li > .dropdown-menu:after{ position: absolute; content: ""; right: 10px; top: -10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px; border-color: transparent transparent #ffffff transparent;}
.navbar-inverse .navbar-nav > li > .dropdown-menu a{ font-size: 1.1em; text-decoration: underline;}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{ color: #03469f}
.navbar-inverse .navbar-left > li > #header_search_frm{ padding-top: 10px; }
.navbar-inverse .navbar-left > li > #header_search_frm .form-group{ margin-bottom: 0}
.navbar-inverse .navbar-left > li > #header_search_frm .form-control:focus{ border-width: 1px}
.navbar-nav > li > .dropdown-menu{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/*-------------Notification menu styling-------------*/

.notification-box {
  position: absolute;
  right: 15px;
}
.notification-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url('../images/sprite.png') no-repeat -50px -10px;
}
.notification-num {
  position: relative;
  top: -5px;
  z-index: 100;
  display: inline-block;
  background-color: #f4862d;
  border-radius: 25px;
  height: 17px;
  width: 17px;
  right: 28px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
.notifications, .notifications_p {
  left: -377px;
  min-width: 400px;
}
.notificationsres {
  left: -377px;
  min-width: 300px;
}
.notifications .notify-url {
  padding: 0px;
  height: 60px !important;
  float: none !important;
}
.notification-action-btns {
  float: left;
  margin: 10px
}
.notification .small-msg { margin: 10px 0px; }

#nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#notification_li { position: relative }
#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 29px;
  margin-left: -350px;
  width: 400px;
  z-index: 5000;
  display: none;
}
#notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 349px;
  z-index: 5000;
}
#notificationTitle {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}
#notificationsBody { min-height: 300px; }
#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}
#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 5px;
  position: absolute;
  margin-top: -9px;
  font-size: 11px;
}
.img-notification {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 50px;
  min-height: 38px;
  max-height: 55px;
  float: left;
}
.notification {
  overflow: hidden;
  padding: 10px 20px;
}
.notification-text, .notification-time {
  display: block;
  float: left;
  padding: 0 0 0 10px;
  line-height: 18px;
  width: 86%;
}
.notifications .border {
  clear: left;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-top: 10px;
  float: left;
}
.notifications_p .border {
  clear: left;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-top: 10px;
  float: left;
}
#notificationContainerres {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
 -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
 box-shadow:0 6px 12px rgba(0,0,0,.175);
  overflow: visible;
  position: absolute;
  top: 0;
  margin-left: -1px;
  width: 300px;
  z-index: 5000;
  display: none;
}
#notificationContainer:beforeres {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left:349px;
z-index:5000;
}
#notification_countres {}
#navres {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#notification_lires { position: relative }
#notificationTitleres {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#notificationsBodyres { min-height: 300px; 
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}
#notificationFooterres {
  background-color: #0344A2;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #d9d9d9;
}

#notificationFooterres a{ color: #fff}
#notificationFooterres:hover { background-color: #1281e7}
#notificationFooterres:hover a{ color: #fff}

.img-notificationres {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 50px;
  height: 38px;
  float: left;
}
.notificationres {
  overflow: hidden;
  padding: 10px 5px;
}
.notification-textres, .notification-timeres {
  display: block;
  float: left;
  padding: 0 0 0 10px;
  line-height: 18px;
  font-size: 13px;
}
.notificationsres .borderres {
  clear: left;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin-top: 10px;
  float: left;
}

.notifications-dropdown{ padding-bottom: 0}


/************************************** HOME PAGE  ******************************************/

/* slider */
#owl_home_slider{ position: relative;}
#owl_home_slider .owl-carousel .owl-item { position: relative;}
#owl_home_slider .owl_home_slider_banner{ position: absolute; top: 0; width: 100%; height: 100%;}
#owl_home_slider .owl_home_slider_item{	background-color: #203450; background-repeat: no-repeat; background-position: center center; background-size: 100% 100%}

#owl_home_slider .container, #owl_home_slider .container .row, #owl_home_slider .container .row .col-xs-12, #owl_home_slider .container .row .col-xs-12 .cf, #owl_home_slider .container .row .col-xs-12 .cf .flexslider{ height: 100%;}
#owl_home_slider .owl-pagination{ position: absolute; bottom: 20px; width: 100%}
.home-slider-title{margin-top: 12%; margin-bottom: 3.5%;}
.home-slider-title h2{ color: #fff; font-size: 2.857em; line-height: 50px; margin: 0; }
.home-slider-content{ margin-bottom: 3.5%;}
.home-slider-content p{ color: #fff; font-size: 1.429em; line-height: 30px; margin: 0;}
.home-slider-btn button{ background: none; border:2px solid #fff; color: #fff; font-size: 1.429em; font-weight: bold;}
.home-slider-btn button:hover{ background: #fff; color: #03469f}
#owl_home_slider .owl-controls .owl-page span{ background: #727d89}
#owl_home_slider .owl-controls .owl-page.active span{ background: #fff}

/* how it works*/
.how_it_works{ background:#fff; border-bottom: 1px solid #e5e3df}
.how_it_works_button_group{}
.how_it_works h2{ }
.how_it_works_button_group .btn-group {padding: 0px;}
.how_it_works_button_group .btn-group > .btn{ border: 2px solid #504e4b; font-weight: bold; min-width: 150px; padding: 0px;}
.how_it_works_button_group .btn-group > .btn > a {color: #504e4b; width: 100%; display: block; padding: 6px 12px; text-decoration: none;}
.how_it_works_button_group .btn-group > .btn-default.active,.how_it_works_button_group .btn-group > .btn:hover{ background: #504e4b;}
.how_it_works_button_group .btn-group > .btn-default.active > a, .how_it_works_button_group .btn-group > .btn > a:hover {color: #fff; text-decoration: none;}
.how_it_work_row{ margin: 35px 0}
.how_it_work_col{}
.how_it_work_item{}
.how_it_work_img img{ display: inline-block;}
.how_it_work_item h4{ font-size: 1.1em; font-family: 'HelveticaNeueLTStd-Md'; margin-top: 20px; margin-bottom: 15px;}
.how_it_work_item p{ min-height: 60px;}

.how_it_work_item img {
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

.how_it_work_item:hover img {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

/*Trending opportunities*/
.list-grid-view{padding-bottom: 20px;}
.trending_opportunities{/*border-bottom: 1px solid #e5e3df; */}
.deal-single {	background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    margin: 0px 0px; border: 1px solid #e6e6e6;  display: block; position: relative; margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
}
.crsl-item { min-height: 306px; }
.deal-single a:hover, .deal-single a:hover .title .deal-title { text-decoration: none;}

.deal-single .title { }
.deal-single .deal-logo { overflow: hidden;	display: table;	width: 100%; position: relative; table-layout: fixed;}
.deal-single .deal-logo .deal-image {vertical-align: middle; overflow: hidden; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #e6e6e6; width: 100%;}
.deal-single .deal-logo .deal-image img { width: 100%; height: auto; margin-left: auto; margin-right: auto; display: block;}
.deal-single .deal-logo .deal-category{ position: absolute; bottom: 10px; left: 10px; margin-right: 10px; background: #2f62aa; color: #fff; font-size: 0.714em; text-transform: uppercase; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 4px 10px;} 
.deal-single .deal-middel-box { padding:10px 20px; border-bottom: 1px solid #e6e6e6}
.deal-single .deal-company-logo{width: 80%; margin-left: 10%; height: 50px;margin-bottom: 10px; position: relative; text-align: center; margin-right: 20px; overflow: hidden;}
.deal-single .deal-company-logo img{ vertical-align: middle; max-height: 100%; max-width: 100%; width: auto; margin: 0px auto;}
.deal-single .deal-company-title{ width: auto;}
.deal-single .title .deal-title {font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b; font-size: 1.429em; margin: 0 0 5px 0; text-decoration: underline;  white-space: nowrap;  overflow: hidden; text-overflow: ellipsis; }
.deal-single .title .deal-location { color: #8c877f; font-size: 0.857em; line-height: normal;}
.deal-single .deal-description { margin-top: 15px; }
.deal-single .deal-description p { color: #504e4b; font-size: 1em; text-overflow: ellipsis; overflow: hidden; width: 100%; height: 40px; line-height: 20px; margin: 0px;}
.deal-single .deal-funds { padding: 18px 20px; display: block; position: relative; min-height: 125px;}
.deal-single .deal-funds .fund-requested { }
.deal-single .deal-funds .fund-requested .funds-req-status span{ display: inline-block;}
.deal-single .deal-funds .fund-requested .funds-req-status .fund_follow_icon{ padding-right: 10px}
.deal-single .deal-funds .fund-requested .funds-req-amount{ font-family: 'HelveticaLTStd-Bold'; font-size: 1.429em; color: #4caf50; line-height: normal;}
.deal-single .deal-funds .funds-bar { margin: 10px 0 }
.deal-single .deal-funds .fund-stats .funds-req-amount { font-size: 110%; }
.deal-single .deal-funds .funds-bar .progress { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; height: 10px; margin: 0; box-shadow: inset 1px 5px 20px -7px #000; border-bottom: 1px solid #fff;}
.deal-single .deal-funds .funds-bar .progress-bar-success {	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;	background: #b0ee24; -webkit-box-shadow: inset 0px -2px 7px #8fbd24; -moz-box-shadow: inset 0px -2px 7px #8fbd24; box-shadow: inset 0px -2px 7px #8fbd24;}
.deal-single .deal-funds .fund-stats { margin-top: 0 }
.deal-single .deal-funds .fund-stats .funds-raised { padding: 0; color: #504e4b}
.deal-single .deal-funds .fund-stats h4 {margin: 5px 0;	color: #3e4957;}
.deal-single .deal-funds .fund-stats p {color: #8c877f;	font-size: 0.857em; margin-bottom: 0}
.deal-single .deal-funds .funds-raised.middle {}
.deal-single .deal-footer-links{ display: none; position: absolute; bottom: 0; left: 0; width: 100%; background: rgba(255,255,255,0.8); -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;}
.deal-single:hover .deal-footer-links { display: block; cursor: pointer; }
.deal-single .deal-footer-links h4{ font-size: 1em;}
.deal-single .deal-footer-links .col-xs-6{ padding:36px 20px 0 20px }
.deal-link { position: relative;  }
.deal-list-style{ padding: 0; list-style-type: none; margin: 0}
.deal-list-style li a{ background: url(../images/round-circle-arrow-blue.png) no-repeat left center; padding:6px 0 6px 28px; color: #1281e7; font-family: 'HelveticaNeueLTStd-Md'; display: block;  }
.company-details-page .deal-single .deal-footer-links{ display: block; position: inherit; border-top: 1px solid #e6e6e6}
.company-details-page .deal-single .deal-footer-links .col-xs-6 { padding: 28px 20px 0;}
.comingsoonstrip{ font-family: 'HelveticaNeueLTStd-Md'; color: #fff; font-size: 1.429em; background: #2f62aa; line-height: 92px; text-align: center; }


/* list view */

.list-grid-view-tab{ margin-top: 2.2em; padding: 0; list-style-type: none; line-height: 0}
.list-grid-view-tab li{display: inline-block;}
.list-grid-view-tab li.active a{ background-color: #d9d9d9}
.list-grid-view-tab li a{ float: left; text-indent: -9999px; background-repeat: no-repeat; background-position: center center; width: 42px; height: 30px;}
.list-grid-view-tab li a.list-view-tab-icon{ background-image:url(images/list_view.png);
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;}
.list-grid-view-tab li a.grid-view-tab-icon{ background-image:url(images/grid_view.png);
  -webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;}

.list-view-deals{ border: 1px solid #dad7d1; margin-bottom: 20px;
  border-radius: 5px; 
  -webkit-border:5px; 
  -moz-border:5px; 
  -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);

}
.list-view-deal-header { background: #f4f4f4; color: #8c877f; font-size: 0.857em; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #dad7d1; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.list-view-deal-header > div{ padding: 15px;}
.list-view-deals .list-view-deal{ border-bottom: 1px solid #dad7d1; padding-top: 22px; padding-bottom: 22px; }
.list-view-deals .list-view-deal:last-child{ margin-bottom: -1px; border-bottom: none;}
.list-view-deal .deal-image, .list-view-deal .d-title{}
.list-view-deal .deal-image{ width: 50px; margin-right: 15px; height: 40px; float: left;}
.list-view-deal .deal-image .deal-image-inner{ display: table; text-align: center;}
.list-view-deal .deal-image .deal-image-inner span{ display: table-cell; vertical-align: middle; width: 56px;}
.list-view-deal .deal-image .deal-image-inner span img{ max-height: 40px; max-width: 50px;}
.list-view-deal .d-title .deal-title{font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b; font-size: 1.143em; margin: 0 0 5px 0; text-decoration: underline;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.list-view-deal .d-title .deal-location { color: #8c877f; font-size: 0.857em; line-height: normal;}
.list-view-deal .deal-sector, .list-view-deal .deal-min{ font-size: 0.857em; line-height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list-view-deal .deal-progress .progress{ margin: 17px 0 0 0 }
.list-view-deal .deal-progress .deal-progress-percent{ padding-left: 10px; font-size: 0.857em; line-height: 40px;}
.list-view-deal .funds-req-amount{ font-size: 1.429em; color: #4caf50}
.list-view-deal .funds-req-status span{display: inline-block; cursor: pointer;}
.list-view-deal .funds-req-status span.fund_follow_icon{ padding-right: 8px;}
.list-view-deal .deal-total-lv{ line-height: 40px;}
.list-view-deal .comingsoonstrip{ line-height: normal; color: #2f62aa; background: none}


/*Media and Testimonial*/
.home_media_section{}
.home_blog_list{ border-left: 1px solid #e5e3df}

.in_the_media_item{ margin-bottom: 20px;}
.in_the_media_item p{ color: #8c877f; max-height: 82px; overflow: hidden;}
.in_the_media_item h4{ margin: 0 0 15px 0; font-size: 1.143em; font-weight: bold; overflow: hidden;   text-overflow: ellipsis; white-space: nowrap;}
.in-media-img{max-height: 160px; min-height: 160px;}
.in-media-img img{ width: 100%;}
.read_more a, .view_more a, .view_more{ color: #333333; font-weight: bold; text-decoration: underline;}



/* home graph/chart  Distribution statistics */

.graph_statistics{ padding: 40px 0; background: #373a3d}
.graph_statistics .section-title{ margin:0 0 34px 0; color: #fff; text-align: center;}
.doughnut-legend{ list-style-type: none; padding-left: 0; position: absolute; bottom: 0}
.doughnut-legend li{ font-size: 0.857em; color: #fff; margin-bottom: 8px}
#chart-section {background-color: rgb(55,58,61); padding: 50px 0}
#chart-title { color: white; margin-top: 0px; margin-bottom: 40px;}
#chart-container { width: 80%; /*margin-left: 10%; margin-top: 2em; padding-bottom: 2em;*/ }
.canvas-holder { max-width: 200px; padding-left: 0px; padding-right: 0px; }
.chart-box-left { padding-right: 30px;}
.chart-box-right { padding-left: 30px;}
.custom-legend { }
.custom-legend-left { padding-right: 45px; }
.custom-legend-right { padding-left: 45px; }
#chart1-legend>ul>li {float: right; clear: both;   text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#chart2-legend>ul>li {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#chart1-legend>ul>li>span { width: 20px; height: 10px; margin-top: 3px; position: relative; float: right; margin-left: 5px; } 
#chart2-legend>ul>li>span, #chart2-legend-mobile>ul>li>span, #chart1-legend-mobile>ul>li>span  { width: 20px; height: 10px; margin-top: 3px; position: relative; float: left; margin-right: 5px;}
.chart-box-left #chart1{background: url(../images/chart-sector.png) no-repeat center center;}
.chart-box-right #chart2{background: url(../images/chart-location.png) no-repeat center center;}

/* Prefered  */
.empty-preferences-box{
  border-radius: 5px; 
  -webkit-border:5px; 
  -moz-border:5px; 
  -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
border: 1px solid #dad7d1; padding: 5% 0; text-align: center; font-size: 1.143em; font-family: 'HelveticaNeueLTStd-Md';}
.empty-preferences-box span{ font-size: 0.750em; font-family: 'HelveticaNeueLTStd-Roman';}
.empty-preferences-box span a { color: #8c877f; text-decoration: underline;}
.empty-preferences-box span a:hover{ text-decoration: none; color: #23527c}

/* managment team */
.team_heading_section{ margin-bottom: 50px}
.team_heading1{ color: #57534d; font-size: 2.143em; font-weight: bold;  font-family: 'HelveticaNeueLTStd-Md'; text-align: center;}
.team_heading2{ color: #857f76; font-size: 2.143em; text-align: center;}
.team_member{ margin-bottom: 50px}
.team-member-name{font-size: 1.714em; color: #57534d; font-family: 'HelveticaNeueLTStd-Md'; margin-top: 5px}
.team-member-post{font-size: 1.143em; color: #1281e7; margin-bottom: 20px}
.team_member p { color: #8c877f; font-size: 0.857em; margin-bottom: 20px}
.team_member p:first-child{ font-size: 1em; color: #57534d}

/* testimonial */
#testimonial_slider{ background-image: url(../images/testimonial_bg.jpg); background-color: #203450; background-repeat: no-repeat; background-position: center center; background-size: 100% 100%; text-align: center;}
.owl_testimonial_slide{ height: 100%; position: absolute; top: 0; width: 100%;}
#testimonial_slider .item{ }
.owl_testimonial_slide .row .col-xs-12{ height: 100%}
.testimonial_slide_wrap{ display: table; table-layout: fixed; height: 100% }
.testimonial_slide_inner{ display: table-cell; vertical-align: middle;}
.testimonial-text{ font-size: 2.1em; color: #fff; margin-bottom: 0; margin-top: 18%}
.testimonial-text span{  font-size: 0.667em; }
#testimonial_slider .owl-pagination { bottom: 30px; position: absolute; width: 100%;}
.testimonial-view-more button{ background: none; border:2px solid #fff; color: #fff; font-size: 1.429em; font-weight: bold;}
.testimonial-view-more button:hover{ background: #fff; color: #03469f}

/**************************************** breadcrumb ****************************************/
.breadcrumb{ background: none; padding: 0; border-radius:0; margin-top: 30px;}
.breadcrumb > li + li:before{content:"\203A";}
.breadcrumb li{font-size: 0.857em; }
.breadcrumb li a{ color: #8c877f}
.breadcrumb > .active{ font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b;}

/**************************************** Sidebar filter *****************************************************/

.sidebar-filter-box { border: 1px solid #e6e6e6; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  border-radius: 5px; margin-bottom: 15px;}
.sidebar-filter-section{ border-bottom: 1px solid #e6e6e6; padding: 0 20px; overflow: hidden; }
.manage-preferences-box .sidebar-filter-section{ padding: 20px;}
.sidebar-filter-section .accordion-toggle h4 { padding: 20px 0; margin-bottom: 0 } 
.sidebar-filter-section .accordion-toggle.collapsed h4{ }
.sidebar-filter-section:last-child{border-bottom: none;}
.sidebar-filter-section .accordion-inner{ margin-bottom: 20px;}
.sidebar-filter-padding20{ padding: 20px;}
.sidebar-filter-search{ background: url(images/search-icon2.png) no-repeat 10px center; font-size: 0.857em; padding-left: 28px;}
.sidebar-filter-section label{display: block; font-size: 0.857em; font-weight: lighter; color: #8c877f}
.sidebar-filter-section label.selected{ font-family: 'HelveticaLTStd-Bold'; color: #504e4b}
.sidebar-filter-section h4{ font-size: 0.857em; text-transform: uppercase; color: #504e4b; font-family: 'HelveticaLTStd-Bold'; margin-top: 0}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{ position: relative; padding-left: 52px}
.bootstrap-select.btn-group .dropdown-toggle .filter-option:before{ position: absolute; content: "Sector:"; font-weight: bold; left: 0;}
.sidebar-filter-submit{ margin: 20px 0;}
.sidebar-filter-submit #filter-clear{ font-size: 0.857em; color: #8c877f; text-decoration: underline; padding-right: 20px}

/* accordion */
.accordion .accordion-inner{max-height: 300px; overflow: auto;}
.accordion a{ text-decoration: none;}
.accordion .accordion-toggle h4:after { content: url("../images/down_arrow.png"); float: right;}
.accordion .collapsed h4:after { content: url("../images/right_arrow.png"); }
#about_accordion b{font-family: 'HelveticaNeueLTStd-Md';}
#about_accordion h4{font-size:1.1em;}

.accordion2{ margin-bottom: 10px }
.accordion2 .accordion-inner{ padding: 0 15px; }
.accordion2 a{ text-decoration: none;}
.accordion2 .accordion-heading {border-bottom: 1px solid #e6e6e6; margin-bottom: 20px; overflow: hidden;}
.accordion2 .accordion-toggle h4 {color: #1281e7; font-size: 1.429em; text-transform: capitalize; font-family: 'HelveticaNeueLTStd-Md'; position: relative;}
.accordion2 .accordion-toggle h4:before { content: url("../images/down_arrow.png"); margin-right: 10px;  float: left;}
.accordion2 .collapsed h4:before { content: url("../images/right_arrow.png"); }


/* company page */
.company-details-main{ margin-top: 20px;}
.company-details-header{ }
.company-details-header .company-logo{ float: left; height: 60px; text-align: left; display: table; table-layout: fixed; margin-right: 25px;}
.company-details-header .company-logo span{ display: table-cell; vertical-align: bottom; }
.company-details-header .company-logo span img{ max-width:100%; max-height: 60px;}
.company-details-header .company-name{ float: left;}
.company-details-header .company-name h1{ margin-bottom: 0; margin-top: 16px;}
.company-details-header .company-name .company-location{padding-left: 10px; font-size: 0.560em; font-family: 'HelveticaNeueLTStd-Roman'; color: #8c877f}

.content-infographic { background: #fff;  display: block; position: relative; margin-bottom: 20px; 
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    margin: 0px 0px; border: 1px solid #e6e6e6; 
    -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);}
.content-infographic h6 { font-size:12px; font-weight:600;}
.content-infographic .item { padding: 18px 20px; overflow: hidden; }
.content-infographic .item span {display: inline-block; float: left; height: 20px; width: 20px; margin-top: 3px}
.content-infographic .item div {float: left; margin-left:15px;width: 70%; font-size: 0.857em; color: #8c877f; line-height: normal;}
.content-infographic .item .comingsoon {width:100%; margin-left:0}
.content-infographic .item .ci2-text{ font-family: 'HelveticaNeueLTStd-Md'; font-size: 1em; color: #504e4b}
.content-infographic .item .ci2-text a{color: #504e4b}
.content-infographic .item:not(:last-child) { border-bottom: 1px solid #e6e6e6;}
.content-infographic .stage-icon { background: url('../images/company_sprite.png') no-repeat 0 0;}
.content-infographic .validity-icon { background: url('../images/company_sprite.png') no-repeat 0 -40px;}
.content-infographic .founding-year-icon { background: url('../images/company_sprite.png') no-repeat 0 -80px;}
.content-infographic .sector-icon { background: url('../images/company_sprite.png') no-repeat 0 -120px;}
.content-infographic .business-type-icon { background: url('../images/company_sprite.png') no-repeat 0 -160px;}
.content-infographic .company-url-icon { background: url('../images/company_sprite.png') no-repeat 0 -200px;}
.content-infographic .comingsoonstrip{-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}

.company-accordion{ }
.company-accordion .accordion-heading a{ text-decoration: none;}
.company-tab-title, .company-accordion .accordion-heading .accordion-toggle h3{color: #1281e7; font-size: 1.429em; font-family: 'HelveticaNeueLTStd-Md'; position: relative; border-bottom: 1px solid #e6e6e6; margin-top: 0; padding-bottom: 10px; margin-bottom: 20px;}
.company-accordion .accordion-heading .accordion-toggle h3{  padding: 10px 0; margin-top: 24px; position: relative; border-bottom: 1px solid #e6e6e6;  overflow: hidden;}
.company-accordion .accordion-heading .accordion-toggle h3:before { position: absolute; content: " "; height: 100%; width: 12px; top: 0; right: 0;  background: url("../images/down_arrow.png") no-repeat center center;}
.company-accordion .accordion-heading .collapsed h3:before { background-image: url("../images/right_arrow.png"); }
.company-accordion-text-editor{ color: #8c877f; font-size: 1em; display: block; overflow: hidden; margin-bottom: 10px; font-weight: lighter;}
.company-accordion-text-editor a{ color: #1281e7; text-decoration: underline;}
.company-accordion-text-editor a:hover,.company-accordion-text-editor a:focus{ color: #1281e7; text-decoration: none; }
.company-accordion-text-editor .cate-fund { font-family: 'HelveticaLTStd-Bold'; font-size: 1.429em; color: #4caf50; line-height: normal;}
.cate-table{ background: #f5f5f3; padding:17px 20px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #8c877f; font-weight: lighter;}
.cate-table .cate-table-heading{ border-bottom: 1px solid #cbc9c5; padding-bottom: 13px; margin-bottom: 13px; margin-left: 0; margin-right: 0}
.cate-table .cate-table-footer{ border-top: 1px solid #cbc9c5; padding-top: 13px; margin-top: 13px; margin-left: 0; margin-right: 0}
.cate-table .cate-table-heading > div,.cate-table .cate-table-footer > div{ padding-left: 0; padding-right: 0}
.cate-table strong{ font-family: 'HelveticaNeueLTStd-Md'; font-weight: lighter;}
.cate-table-amount{ color: #4caf50;}
#companySnapshotModal > .modal-dialog{width: 80%; margin-left: 10%;}

/********************************** Symbols *****************************************/

.privacy-icon {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.rupee-placeholder {
  background-color: #e0e0e0;
  border-radius: 3px;
  color: #a1a1a1;
  font-size: 88%;
  height: 26px;
  left: 16px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 6%;
}
.register-startup-form .form-group .form-control{height: 26px; padding: 0px 12px;}
.rupee-input { padding-left: 45px; height: 26px; }
.rupee-placeholder img {
  margin-top: 1px;
  margin-left: -4px;
  max-width: 20px;
}
.calender { background: url("../images/calender.png") no-repeat scroll center center; }

.input-placeholder {
  background-color: #e0e0e0;
  border-radius: 3px;
  color: #a1a1a1;
  /*font-size: 80%;*/
  height: 100%;
  line-height: 34px;
  position: absolute;
  right: 16px;
  text-align: center;
  top: 0;
  width: 6%;
}

#startup-portfolio-add { line-height: normal; width: 70px;}
#startup-portfolio-remove{ width: 84px; right: 0; line-height: normal;}
#duration_span { width: 90px}

/* profile page*/
.privacy-options {  position: absolute;  right: 44px;  top: 10px;}
.privacy-icon {  cursor: pointer;  float: right;  padding: 18px 0}

.common-profile-edit{ /*margin-top: 36px;*/}

.profile-image{ position: relative; max-width: 180px;}
.profile-image a{ position: absolute; top: 0; right: 0; text-indent: -9999px; float: left; width: 40px; height: 40px; background: url(../images/edit_icon_round.png) no-repeat center center;}
.profile-image img{ width: 100%; border: 1px solid #e6e6e6}

.my-profile-right h3{font-family: 'HelveticaNeueLTStd-Md'; font-size: 1.429em; margin-top: 20%; word-wrap: break-word;}
.my-profile-right h6{ font-size: 1em; color: #1281e7; margin-top: 0}

.my-profile-list{ padding: 0; list-style-type: none; margin: 20px 0 0}
.my-profile-list li a{ background: url(../images/round-circle-arrow.png) no-repeat left center; padding:6px 0 6px 28px; color: #8c877f; display: block;  }
.my-profile-list li a:hover, .my-profile-list li.active a{background-image: url(../images/round-circle-arrow-blue.png);  color: #1281e7}
.my-profile-list li.active a{ font-family: 'HelveticaNeueLTStd-Md';}

.profile-content-box{ border: 1px solid #e6e6e6; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;  border-radius: 5px; }



.profile-content-box .accordion-heading a{ text-decoration: none;}
.profile-content-box .accordion-heading .accordion-toggle h3{color: #1281e7; font-size: 1.429em; font-family: 'HelveticaNeueLTStd-Md'; position: relative; border-bottom: 1px solid #e6e6e6; margin-top: 0; padding-bottom: 10px; margin-bottom: 20px;}
.profile-content-box .accordion-heading .accordion-toggle h3{  padding: 20px; margin: 0; position: relative; border-bottom: 1px solid #e6e6e6;  overflow: hidden;}
.profile-content-box .accordion-heading .accordion-toggle h3:before { position: absolute; content: " "; height: 100%; width: 12px; top: 0; right: 20px;  background: url("../images/down_arrow.png") no-repeat center center;}
.profile-content-box .accordion-heading .collapsed h3:before { background-image: url("../images/right_arrow.png"); }
.profile-content-box .accordion-inner { }

.profile-content-box .profile-content-sub-section{ padding: 20px; border-bottom: 1px solid #e6e6e6 } 

.profile-content-box .profile-content-sub-title{ color: #504e4b; font-family: 'HelveticaLTStd-Bold'; font-size: 0.857em; text-transform: uppercase; margin-bottom: 20px}
.profile-content-box .invester-type-label{ font-family: 'HelveticaNeueLTStd-Md'; font-size: 1.143em; font-weight: lighter; margin-bottom: 15px}
.profile-content-sub-section .radio label{ font-size: 0.857em; line-height: 20px; color: #8c877f}
.profile-content-sub-section .radio input[type="radio"]:checked + label{ font-weight: bold; color: #504e4b}
.profile-content-box .profile-content-sub-section .form-label{ font-size: 1.143em}



/* investor*/

.profile-box{ position: relative;}
.investor-single {  background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    margin: 0px 0px; display: block; position: relative; margin-bottom: 20px;
    -webkit-box-shadow: none);
-moz-box-shadow: none;
box-shadow: none;
border: none;
}
.investor-single .user-info .square-image-outer {padding-top: 80%;}
.investor-single .user-info .user-name {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.investor-single .user-info .user-image .investor-grid-image {border-radius: 125px; height: 80%;}
.investor-single .user-info .three-by-five-image-outer .user-image .investor-grid-image {max-width: 100%; height: auto;}
.investor-grid-image {max-width: 100%; height: auto;}
.investor-single .user-profile-box, .investor-single .user-interests {padding-left: 15px; padding-right: 15px;}
.investor-single-title{font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b; font-size: 1.1em; margin: 0 0 0px 0; line-height: 17px; text-decoration: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.investor-single .user-interests {padding-top: 10px; border-top: 1px solid #e6e6e6; margin-top: 10px;}
.investor-single .user-info .user-sector {color: #8c877f; height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-style: italic;}
.investor-single .user-info .user-name {margin-top: 0em;}
.investor-single .user-info .user-company-name {color: rgb(63,63,63); font-size: 1.329em; height: 20px; line-height: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-weight: bold; margin-top: 5px;}
.investor-single .user-info .user-company-designation {color: #8c877f; height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.investor-single .user-info .user-image-box {position: relative;}
/* 
.investor-single .user-info .user-city {position: absolute; bottom: 20px; background-color: rgba(47, 98, 170, 0.9); color: white; min-width: 100px; font-size: 0.9em; line-height: 1.9em; padding: 0px 4px; text-overflow: ellipsis;}
.investor-single .user-info .user-type {position: absolute; bottom: 45px; background-color: rgba(76, 175, 80, 0.9); color: white; min-width: 100px; font-size: 0.9em; line-height: 1.9em; padding: 0px 4px; text-overflow: ellipsis;}
*/
.investor-single .user-info .user-city {color: rgba(47, 98, 170, 0.9); float:left; width:46%; display:none;}
.investor-single .user-info .user-type {color: rgba(76, 175, 80, 0.9); float: left; width:46%; display:none;}
.investor-single .user-info .fund-image-box {margin-bottom: 60px;}

/* INVESTEE */
.btn-gray, .btn-gray:hover{background-color: #b1b1b1; color: #fff; padding: 10px 12px;}
.investee .active{background-color: #04469f; border-radius: 5px;}
.investee .active a h4{color: #fff;}
.investee a{text-decoration: none; cursor: pointer;}
.investee .sidebar-filter-section h4 { text-transform: none; padding: 10px 0; font-size: 16px; margin-bottom: 0px;}
.investee .sidebar-filter-section {border: 0px;}
.investee .block-title h2{margin: 0px;}

.deal-list-style li a.no_style{display: inline !important; padding: 0px !important; background: transparent;}

#pptDownload, #videoDownload{width: 15%; float: right; cursor:pointer;}
.downloadSnp{display: inline !important; padding: 0px !important; background: transparent; width: 10%; float: right; position: relative; top: -30px;}
.closeBtn {color:red; cursor: pointer;}
.selectorcheckbox > input{margin-right: 10px;}


/* login and signup*/

.login-drop-down{ padding:20px 0; }
.login-container{ width: 280px}
.login-box .row .col-xs-12{ padding-left: 20px; padding-right: 20px;}
.login-container .form-group label{ font-family: 'HelveticaNeueLTStd-Md'; font-weight: normal; color: #504e4b; font-size: 1.143em}
.login-checkbox{ margin-top: 0; margin-bottom: 20px; font-size: 0.857em; color: #8c877f;}
.login-checkbox label{ padding-left: 0}

.login_option{ margin: 20px 0; padding: 20px 0; border-top: 1px solid #e5e3df; border-bottom: 1px solid #e5e3df}
.login_option a{ display: block; color: #504e4b; font-weight: bold; background: url("../images/round-circle-arrow.png") no-repeat left center; padding-left: 32px; line-height: 20px;}
.login_option .forgot-password{ margin-bottom: 10px; }

.login-social-icon{ padding: 0; list-style-type: none;}
.login-social-icon li a{float: left; width: 30px; height: 30px; background:url(../images/reg-social.png) no-repeat top center; text-indent: -9999px; display: block; margin-right: 10px}
.login-social-icon li a:hover{ opacity: 0.8}
.login-social-icon li #linkedin { background-position: 0 0; }
.login-social-icon li #google { background-position: -40px 0; }
.login-social-icon li #facebook { background-position: -80px 0; }
.login-social-icon li #twitter { background-position: -120px 0; }
.login-social-icon p{ color: #504e4b; font-weight: bold;}
.login-error-alert{ padding: 5px; font-size: 0.857em; margin-bottom: 10px}

#registerModal .modal-dialog{ width: 462px}
#registerModal .modal-content{ background: none; box-shadow:none; border: none}
#registerModal .modal-header{ border: none; padding: 0 0 22px 0}
#registerModal .modal-body{ padding: 0}
#registerModal .register-box{ background: #fff;   border-radius: 5px; 

  -webkit-border:8px; 
  -moz-border:8px; 
  -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);
box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.5);}

/* #registerModal .register-box-1{ border-bottom: 1px solid #e5e3df} */
#registerModal .modal-header h4{font-family: 'HelveticaNeueLTStd-Md'; font-size: 1.786em; color: #fff}
#registerModal .register-box-innner{ padding: 20px}
#registerModal .radio-inline{ margin-top: 0}
#registerModal .join-label{ font-size: 1.143em; font-family: 'HelveticaNeueLTStd-Md'; color: #504e4b; font-weight: lighter; margin-bottom: 60px; padding-bottom: 15px; border-bottom: 1px solid #A7A7A7;}
#registerModal .register-field-label{ font-size: 1.143em; font-family: 'HelveticaNeueLTStd-Md'; color: #2c2d2d; font-weight: lighter;}
#registerModal .radio input[type="radio"]:checked + label{ font-weight: bold;}
#registerModal .terms_and_condition{ padding-left: 0; font-size: 0.857em; color: #8c877f}
#registerModal .terms_and_condition a{ text-decoration: underline; color: #8c877f; }
form .error, form label.error, .login-container .form-group label.error{  font-size: 0.857em; color: #a94442; font-family: 'HelveticaNeueLTStd-Roman'; font-weight: lighter; }
#registerModal .register-agree{ margin-bottom: 20px}
#registerModal .register-box .login-error-alert { margin-bottom: 0; margin-top: 15px;}


#radio-inline {list-style: none; margin-left: 20px;}
#radio-inline li {width:15%; float: left; margin: 20px; text-align: center; display: block; font-weight: bold;}
.checkbox-inline, .radio-inline{padding-left: 0;margin-right: 35px;}

#radio-inline li a{color:#A7A7A7; text-decoration: none;}
#radio-inline li a:hover {color:#15549B;}
.joinInvestor, .joinStartUp, .joinPartner, .joinMedia {width:50px;
              height:50px;
              background-repeat: no-repeat !important;
              background-size: contain !important;
              -webkit-background-size: contain !important; /*  Safari  */
              -khtml-background-size: contain !important; /*  Konqueror  */
              -moz-background-size: contain !important; /*  Firefox  */
              background-position: center center;}

.joinInvestor {background:url(../images/join_investor.png);}
.joinStartUp {background:url(../images/join_startup.png);}
.joinPartner {background:url(../images/join_partner.png);}
.joinMedia {background:url(../images/join_media.png);}

.joinInvestor:hover {background:url(../images/join_investor_hover.png) ;}
.joinStartUp:hover {background:url(../images/join_startup_hover.png) ;}
.joinPartner:hover {background:url(../images/join_partner_hover.png) ;}
.joinMedia:hover {background:url(../images/join_media_hover.png) ;}

.join-text{margin-top: 20px;display: block; text-align: center;}
.modal-header h3 {color:#15549B; padding-bottom: 25px;}

.modal-body { position: relative; padding: 40px; padding-left: 70px; padding-right: 70px; }
.register-agree .checkbox, .radio {margin-bottom: 20px;}
.terms_and_condition > a{margin-top: 10px;}
@media (min-width: 768px) {
  .modal-dialog { width: 1000px; margin: 30px auto; }
  .modal-sm { width: 300px;}
  #registerModal .join-label {margin-bottom: 45px;}
}
.terms_and_condition{color:#A7A7A7;     padding-top: 25px;}
.terms_and_condition a{color:#A7A7A7; text-decoration: underline;     padding-top: 10px;}
#registerStartUpModal .modal-body{max-height: calc(100vh - 200px); overflow-y: auto !important;}
#register-startup-form p { font-size: 16px; font-weight: bold;}
#register-startup-form > .row, #divTeamInfo .row{margin-left: 15px;}

#registerUserModal h3, #registerStartUpModal h3 {color: #15549B; margin-bottom: 0px;}
#registerUserModal h4, #registerStartUpModal h4 {min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5;}
#registerUserModal form, #registerStartUpModal form {padding: 15px;}
/********************************** About page  ****************************************/



/********************************** FAQ PAGE ***************************************/

.faq_row{margin: 20px 0}


/********************************** CHANNEL PARTNER PAGE ***************************************/

.channel-partner-content h2{ font-size: 2.857em; font-family: 'HelveticaNeueLTStd-Md'; color: #57534d; margin-bottom: 30px}
.channel-partner-content p{ font-size: 1.429em; color: #8c877f; font-weight: lighter; margin-bottom: 30px}
.channel-partner-content .btn-eq-green{ text-transform: inherit; font-size: 1.429em; padding: 20px 25px;}
.WordItOut_wordCloud{ background: #fff !important}


/********************************** MEDIA PAGE *******************************************************/

.media_news_listing { color: #8c877f; font-size: 1em}
.media_news_listing .media_news_item{ margin-bottom: 50px;}
.media_news_listing .media_news_item .first_para{ font-size: 1.286em; color: #504e4b; font-weight: bold;}
.media_news_listing .media_news_item .questions{ color: #504e4b}
.media_news_listing .media_news_item h3{ color: #1281e7; padding: 10px 0; position: relative; border-bottom: 1px solid #e6e6e6;  overflow: hidden; margin-bottom: 25px; line-height: normal;}

/********************************** FOOTER *****************************************/

footer{ background: #f4f4f4; padding: 55px 0 30px 0; margin-top: 55px}
.footer-social-area{}
.social-icon-32 li{ padding-left: 0; padding-right: 0}
.social-icon-32 li a,.social-icon-32g li a{ float: left; width: 40px; height: 40px; background:url(images/social-icon-32x32.png) no-repeat; text-indent: -9999px;}
.social-icon-32 li.tw a{ background-position: 0 0}
.social-icon-32 li.tw a:hover,.social-icon-32g li.tw a:hover{ background-position: 0 -40px}
.social-icon-32 li.fb a{ background-position: -40px 0}
.social-icon-32 li.fb a:hover,.social-icon-32g li.fb a:hover{ background-position: -40px -40px}
.social-icon-32 li.lin a{ background-position: -80px 0}
.social-icon-32 li.lin a:hover,.social-icon-32g li.lin a:hover{ background-position: -80px -40px}
.social-icon-32 li.pt a{ background-position: -120px 0}
.social-icon-32 li.pt a:hover,.social-icon-32g li.pt a:hover{ background-position: -120px -40px}
.footer-copyright{color: #8c877f; font-size: 0.857em;}
.footer-menus ul li a{ color: #8c877f; text-decoration: underline; font-weight: bold;}
.footer-menus ul li a:hover{ text-decoration: none; color: #4d4b48}
.footer-menus ul li{ padding-bottom: 12px;}

/***************************************** RESPOSIVE MEDIA QUERY START *******************************************************/


@media (min-width: 1280px) {

.container { width: 1260px; }
.navbar-inverse .navbar-left > li > a{ padding-left: 30px; padding-right: 30px;}

} /********* min-width: 1280px end **********/


/********* Large screen **********/
@media (min-width: 1200px) {
  .distribution_statistics p{
    min-height: 50px;
  }
  .container { width: 1170px; }

} /********* Large screen min-width: 1200px end **********/


/*********** Medium Screen******************/
@media (max-width: 1199px) {

.home-slider-title{ margin-top: 8%;}
.home-slider-title h2{ font-size: 2.5em; line-height: normal;}
.doughnut-legend{ position: inherit;}
.custom-legend-right{ padding-left: 15px}
.custom-legend-left{ padding-right: 15px}
.testimonial-text{ margin-top: 11%}
.footer-menus ul li{ padding-bottom: 5px;}
.in_the_media_item p{ max-height: 60px;}

  
} /********* Medium Screen min-width: 1199px end **********/


/*********** Small Screen ******************/
@media (max-width: 991px) {

.navbar-inverse .navbar-nav > li > a { font-size: 1em; }  
.sidebar-filter-search{ background: none; padding: 6px 12px}
.home-slider-title{ margin-top: 8%;}	
.home-slider-title h2{ font-size: 2.4em;}
.home-slider-content p, .home-slider-btn button{ font-size: 1.4em; line-height: normal;}
.home_in_the_media{ border-bottom: 1px solid #e5e3df}
.home_blog_list{ border-left: 0}
.deal-single .deal-logo .deal-image img{ max-width: inherit; width: 100%;}
.how_it_work_col{ margin-bottom: 20px;}
#chart-container{ width: 100%}
#chart1-legend > ul > li{white-space:inherit;}
.testimonial-text{ margin-top: 7.5%}
.footer-menus ul li a{ font-weight: normal; }
.footer-copyright{ font-size: 0.714em}
.isotope .item { position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important; }

.sidebar-filter-padding20, .sidebar-filter-section{ padding-left: 15px; padding-right: 15px;}
.my-profile-right h3{ font-size: 1em}
.my-profile-right h6{ font-size: 0.857em}
.profile-image a{-webkit-background-size: 24px; -moz-background-size: 24px; -o-background-size: 24px; background-size: 24px; height: 24px; width: 24px;}
.sidebar-filter-section label .custom-checkbox{ margin-right: 5px}
.mCSB_inside > .mCSB_container{ margin-right: 20px;}

  
} /********* Small Screen min-width: 991px end **********/


/*********** Extra Small Screen ******************/
@media (max-width: 767px) {

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus{ border-color: #03469f; background: #fff }
.navbar-inverse .navbar-toggle:hover{ background: #03469f }
.navbar-inverse .navbar-toggle .icon-bar{ background: #03469f}
.navbar-inverse .navbar-toggle:hover .icon-bar{ background: #fff }
.navbar-inverse .navbar-collapse{ border-color: #e6e6e6}
.navbar-header { padding: 15px 0 15px 15px; }
.navbar-nav{ padding: 0}
.navbar-inverse .navbar-left > li > #header_search_frm .form-group{ padding: 0 15px;}
.navbar-inverse .navbar-right > li > .dropdown-menu:before, 
.navbar-inverse .navbar-right > li > .dropdown-menu:after{display: none;}
.login-drop-down { padding: 0;}
.login-container{ background: #f9f9f9; padding: 20px 0; margin-left: 15px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.15) }
#registerModal .modal-dialog{ width: auto;}
.home-slider-title{ margin-top: 12%;}
.home-slider-content{ margin-bottom: 10px}
.home-slider-title h2 { font-size: 2.0em}
.home-slider-content p, .home-slider-btn button{ font-size: 1.1em}
#owl_home_slider .owl-pagination, #testimonial_slider .owl-pagination{ bottom: 8px;}
#owl_home_slider .owl-controls .owl-page span,#testimonial_slider .owl-controls .owl-page span{ margin: 0 5px; width: 8px; height: 8px;}
#owl_home_slider .owl_home_slider_item {min-height: 300px;}
.chart-box-left { padding-right: 15px;}
.chart-box-right { padding-left: 15px;}
.deal-single .deal-footer-links{ display: block; position: relative;}
.navbar-inverse .navbar-right > li > a{ padding-left: 15px; padding-right: 15px;}
.testimonial-text{ font-size: 1.25em; margin-top: 10%}
.canvas-holder, .doughnut-legend{ width: 200px; margin: 0 auto; float: none;}
#chart2-legend > ul > li > span, #chart2-legend-mobile > ul > li > span, #chart1-legend-mobile > ul > li > span{ float: none; display: inline-block;}
.channel-partner-content h2{ font-size: 1.6em}
.channel-partner-content p{ font-size: 1.1em}
.channel-partner-content .btn-eq-green{ font-size: 1.1em; padding: 6px 10px}
.company-tab-title {margin-top: 30px;}
#companySnapshotModal > .modal-dialog{width: 96%; margin-left: 2%;}
.my-profile-right h3{ font-size: 1.429em}
.my-profile-right h6{ font-size: 1em}
.profile-image a{-webkit-background-size: 40px; -moz-background-size: 40px; -o-background-size: 40px; background-size: 40px; height: 40px; width: 40px;}
.profile-image{ max-width: inherit;}
#radio-inline { margin-left: 0px;}
#radio-inline li {margin: 14px;}
#registerModal .join-label {margin-bottom: 45px;}
.checkbox label, .radio label {padding-left: 0;}
#register-startup-form .row {margin-left: -15px;}
#register-startup-form p {margin-left: -15px;}
.checkbox label, .radio label { padding-left: 0px;}
.checkbox-inline, .radio-inline {margin-right: 17px;}
#radio-inline { margin-left: 20px;}
.notification-text, .notification-time { width: 76% !important;}
.notification { padding: 10px 0 10px 10px;}

footer{ text-align: center; padding: 30px 0}
.footer-logo img{ display: inline-block;}
.footer-menus{ margin-bottom: 0}
.footer-social-area{ padding-top: 20px}


} /********* Extra Small Screen min-width: 767px end **********/


/*********** Small Mobile Screen ******************/

@media (max-width: 479px) {

.col-mobile{ width: 100%}

#owl_home_slider .owl_home_slider_item {min-height: 250px;}
.how_it_works_button_group .btn-group > .btn{ min-width: inherit; }
.how_it_work_item h4{ min-height: 36px}
.how_it_work_item p { min-height: 102px;}
.home-slider-title{ margin: 12% 0 5px 0;}
.home-slider-title h2{ font-size: 1.6em}
.home-slider-content p, .home-slider-btn button{ font-size: 1em}
.home-slider-content{ margin-bottom: 5px}
.home-slider-btn button{ border-width: 1px; padding: 4px 8px; font-weight: normal;}
.how_it_work_col { min-height: 220px;}
.in_the_media_item h4{ margin-top: 15px;}
#testimonial_slider .item { padding: 25px 0;}
.testimonial-text{ font-size: 1em;}

} /********* Small Mobile Screen min-width: 479px end **********/

textarea.form-control {
    height: 74px;
}

.distribution_statistics, .distribution_statistics h2 {
  color:#FFF;
  font-family: "Trebuchet MS";
  width: 70%;
  margin: 0px auto;
}
sup {
    top: -0.2em;
}
sub, sup {
    font-size: 100%;
}
.distribution_statistics{
  font-size: 16px;
}

.distribution_statistics h2{
    margin-bottom: 10px;
}

.imp_note{
  font-size: 12px;
}