
.form-header {
	font-size: 28px;
	margin: 15px 0px 10px 18px;
	color: #04469f;
}
/*
.content-box {
	background: #fff;
	border-radius: 10px;
	padding: 15px 0;
	font-size: 13px;
	margin : 0 20px 20px 20px;
	-webkit-box-shadow: 1px 3px 1px #ccc;
	;
	-moz-box-shadow: 1px 3px 1px #ccc;
	;
	box-shadow: 1px 3px 1px #ccc;
}
*/

.tab-contents {
	width:50%;
}
.tab-row {
	margin:0px;
}





/*Investee page tab container style*/
.fund-info {
	font-family: 'Lato';
	font-weight:600;
	padding:4px 0px;
}
.tab-rgt {
	font-family: 'Lato';
	font-weight:600;
	padding:4px 0px;
}
.tab-lato-bold {
	font-size:12px;
	font-weight:600;
	line-height:20px;
}
.profile-tabs {
	background-color: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0;
}
#tab1-Content {
}
#tab-wrapper {
	width:100%;
	margin:0px auto;
}
#tab-wrapper h1 {
	color:#FFF;
	text-align:center;
	margin-bottom:20px;
}
#tab-wrapper h5 {
	font-size:14px;
	text-align:left;
	margin:10px 0px;
	font-weight:600;
}
#tabContainer {
	width:100%;/*padding:15px;*/
}
.tabs-wrap {
	background-color:#f9f9f9;
	border-bottom:1px solid #ddd;
	width:100%;
}
#tabs {
	padding:15px 20px;
	overflow:hidden;
	/*font-size:14px;*/
	margin:0px auto;
	width:703px;
}
#tabs > ul {
	list-style:none;
}
#tabs > ul > li:first-child {
	border-left: 1px solid #d1d0d0;
}
#tabs > ul > li {
	margin:0 2px 0 0;
	display:block;
	float:left;
	color:#FFF;
	text-align: center;
	padding: 0 16px;
	border-right: 1px solid #d1d0d0;
}
#tabs > ul > li a {
	color:#757575;
	text-decoration:none;
}
#tabs > ul > li a:active, #tabs > ul > li a:hover {
	cursor:pointer;
	color: #04469f;
}
#tabs > ul > li.tabActiveHeader {
	cursor:pointer;
	color: #04469f;
}
#tabscontent {
	background: #FFFFFF;
	margin: 2px auto;
	color:#333;
	width:47%;
	padding:0px 10px 5px 10px;
	display:block;
	float:left;
}
.tabpage {
	padding:0px 20px;
}
.tabpage p {
	line-height:22px;
	font-size:13px;
}
.profile-sidenavWrap {
	width:25%;
	float:left;
	border:1px solid orange;
}
.profile-sidenav {
	padding: 30px 10px 20px;
	width:93%;
	margin:0px auto;
}
.profile-sidenav .sidelink {
	background: none repeat scroll 0 0 #878686;
	color: #fff;
	/*margin-bottom: 1px;*/
    padding: 10px;
	cursor:pointer;
	width:80%;
	margin:1px auto;
}
.sidelink:active {
	background-color:rgb(167, 228, 30);
}
.profile-basic {
	width:100%;
	padding:0px 20px;
}
/*
.col-sm-offset-3 {
	margin-left:25%;
}
*/
.social-ico {
	padding:0px;
}
.investee-table {
	font-size: 13px;
	width:90%;
	border-top:1px solid #eee;
}
.investee-table th {
	font-weight:600;
	text-align:left;
	padding:8px 0px;
}
.investee-table td {
	text-align:left;
	padding:8px 0px;
	border-bottom:1px solid #ddd;
}
.action-btnWrap {
	margin:0px auto;
	width:84%;
	text-align:center;
}
.action-btn {
	border: 1px solid #F0F0F0;
	cursor: pointer;
	padding: 8px 10px;
	text-align: center;
	font-size: 12px;
	background-color: #878686;
	color: #fff;
	float:left;
}
.action-btn:hover {
	background: #04469f;
	color: #fff;
}
.social-icoWrap {
	float:left;
	margin:0px auto;
	margin-top:20px;
	width:100%;
	text-align:center;
}


/*--------Vartical tab--------*/
#vertical-tabContainer {
	margin-top:30px;
}
#vertical-tab {
	margin-top:30px;
	float:left;
	width:100%;
}
#vertical-tabContainer h5 {
	font-size:14px;
	text-align:left;
	margin:10px 0px 10px 25px;
	font-weight:600;
	float:left;
}
#vertical-tab h5 {
	font-size:14px;
	text-align:left;
	margin:10px 0px;
	font-weight:600;
	float:left;
}
.ui-tabs.ui-tabs-vertical {
	padding: 0;
	width: 96%;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
	border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
	float: left;
	width: 100%;
	margin-left: 0px;
	margin-bottom:15px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	margin: 0.2em 0;
	overflow: hidden;
	position: relative;
	right: -2px;
	z-index: 2;
	background: rgb(135, 134, 134);
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
	width: 100%;
	padding:10px 15px;
	text-align:left;
	color:#ffffff;
	text-decoration:none;
	font-family:"Lato";
	font-size:13px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
	cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:active {
	cursor: pointer;/*background-color:rgb(167, 228, 30);*/
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0.2em;
	padding-bottom: 0;
	background-color:rgb(167, 228, 30);
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
	margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
	float: left;
	width: 50%;
	position: relative;
}
.vert-tab-content {
	padding:0px 30px;
	z-index:10000;
}
.leftnavw {
	width:22%;
	float:left;
	margin-left:30px;
}

/*-----------Investee page responsive slider------------*/
#ResOuterbanner {
	width:100%;
	margin:0px auto;
}
#Resbanner {
	width:768px;
	height:100%;
	margin:0px auto;
	text-align:left;
}
 @media only screen and (min-width:481px) and (max-width:768px) {
#Resbanner {
width:100%;
height:100%;
margin:0px auto;
text-align:center;
}
 #Resbanner #Res-container .flexslider .header .headingwrap h2 {
font-size:22px;
font-weight:300;
padding:10px 0px 10px 0px;
}
 #Resbanner #Res-container .flexslider .header img {
border:0px;
background-color:transparent;
width:100%;
padding-bottom:0px;
margin-bottom:0px;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width:320px) and (max-width:480px) {
 #Resbanner {
width:100%;
height:100%;
margin:0px auto;
text-align:center;
}
 #Resbanner #Res-container .flexslider .header .headingwrap h2 {
font-size:18px;
font-weight:300;
padding:5px 0px 5px 0px;
}
 #Resbanner #Res-container .flexslider .header img {
border:0px;
background-color:transparent;
width:100%;
padding-bottom:0px;
margin-bottom:0px;
}
}
