.dc_ac-container{ padding-bottom:30px;text-align:left; margin-top:20px; /*padding-left:12px;*/ padding-right:4px;}


.dc_ac-container label{
	color:#04469f !important;
	cursor:pointer;
	display:block;
	font-size:16px;
	line-height:33px;
	padding:5px 20px;
	position:relative;
	z-index:20;
	background:#ffffff;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #ffffff 50%, #dbdbdb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ffffff 50%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ffffff 50%,#dbdbdb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#ffffff 50%,#dbdbdb 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#ffffff 50%,#dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
box-shadow:0px 0px 0px 1px rgba(155,155,155,0.3),1px 0px 0px 0px rgba(255,255,255,0.9) inset,0px 2px 2px rgba(0,0,0,0.1)}
	
	.dc_ac-container label:hover{background:#fff}.dc_ac-container input:checked+label,.dc_ac-container input:checked+label:hover{background:#E4E4E4;color:#3e4957 !important;box-shadow:0px 0px 0px 1px rgba(155,155,155,0.3),0px 2px 2px rgba(0,0,0,0.1)}.dc_ac-container label:hover:after,.dc_ac-container input:checked+label:hover:after{content:'';height:24px;position:absolute;right:13px;top:7px;width:24px;}.dc_ac-container input{display:none}.dc_ac-container article{background:rgba(255,255,255,0.5);margin-top:-1px;overflow:hidden;height:0px;position:relative;z-index:10;-webkit-transition:height 0.3s ease-in-out,box-shadow 0.6s linear;-moz-transition:height 0.3s ease-in-out,box-shadow 0.6s linear;-o-transition:height 0.3s ease-in-out,box-shadow 0.6s linear;-ms-transition:height 0.3s ease-in-out,box-shadow 0.6s linear;transition:height 0.3s ease-in-out,box-shadow 0.6s linear}.dc_ac-container article p{color:#777;font-size:14px;line-height:23px;padding:20px;text-shadow:1px 1px 1px rgba(255,255,255,0.8)}.dc_ac-container input:checked ~ article{-webkit-transition:height 0.5s ease-in-out,box-shadow 0.1s linear;-moz-transition:height 0.5s ease-in-out,box-shadow 0.1s linear;-o-transition:height 0.5s ease-in-out,box-shadow 0.1s linear;-ms-transition:height 0.5s ease-in-out,box-shadow 0.1s linear;transition:height 0.5s ease-in-out,box-shadow 0.1s linear;box-shadow:0px 0px 0px 1px rgba(155,155,155,0.3)}.dc_ac-container input:checked ~ article.ac-small{height:140px}.dc_ac-container input:checked ~ article.ac-medium{height:180px}.dc_ac-container input:checked ~ article.ac-large{height:250px}.dc_ac-container input:checked ~ article.ac-hauto{height:auto;} input:checked ~ article.ac-xlarge{height:411px;} input:checked ~ article.ac-xxlarge{height:515px;}


#navigation {
	right: 40px;
	bottom: 0px;
}



/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 28px 80px 8px 28px;
}

#main-menu > li {
	display: inline-block;
	margin-left: 30px;
	padding: 2px 0;
}

#main-menu > li img {
	margin-left:5px;
	margin-top:3px;
}

.dc_ac-container img {
	margin-right:5px;
}



#main-menu > li > a {
	color: #04469f;
	font-size: 16px;
	line-height: 16px;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #04469f;
	
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top:20px;
	padding-top: 10px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-top: none;
	color: #04469f;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 12px;
}

ul.sub-menu > li > a:hover {
	background-color: #efefef; 
	color: #757575;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #04469f;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #ccc;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}



@media only screen 
and (min-width:321px) and (max-width:768px) {

	#main-menu {
	float: left;
	font-size: 0;
	margin:0px;
}
#main-menu > li {
display: inline-block;
margin-left: -2px;
padding: 2px 0;
}

.block-title h2 {
margin-left: -4px;
color: #04469f;
margin-top: 20px;
margin-bottom: 10px;
}

.slidernav {
float: right;
margin-top: -30px;
}

.span_1_of_f_2 {
min-height:0px;
}

.col_1_of_f_2:first-child {
min-height:0px;
}

.bottom-footer li {
display: block;
color: #6a6a6a;
padding: 10px 0;
text-align:center;
}
.pull-right-social {
font-size: 16px;
float: none!important;
}

#banner #container .flexslider .slides .maincontent .middle p {

display: none;
}

#banner #container .flexslider .header .headingwrap h2 {
padding: 15px 0px 5px 0px;
}

.deal-single .deal-description .text-center {
text-align: left;
}

.deal-single{
    box-shadow: 2px 2px 2px 2px #d8d8d8;
    margin: 10px 8px;
	width:97%;
}

}

@media only screen 
and (min-width:768px)  {

#main-menu {
float: right;
font-size: 0;
margin: 28px 30px 8px 28px;
}
}